.Required{color:#A20000; cursor:pointer;}
.Recommended{color:#B36B00; cursor:pointer;}

/* LOGIN CONTAINER*/

.LoginContainer{ max-width: 300px;  margin: 0 auto 20px; margin-top:100px;  }
.LoginContainer img{ margin: 8px auto; display:block; }
.LoginContainer .form-signin {  
max-width: 300px;   padding: 19px 29px 29px;    background-color: #F0FCFF;
border: 1px solid #BDDAFF; -webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.LoginContainer .form-signin .form-signin-heading, .form-signin .checkbox {  margin-bottom: 10px;  }
.LoginContainer .form-signin input[type="text"], .LoginContainer .form-signin input[type="password"] { font-size: 16px;  height: auto;   margin-bottom: 15px;  padding: 4px 6px;  }

.LoginContainer .WebAndMkt{margin: 10px auto;}
.LoginContainer .WebAndMkt a{display: block;text-align: center;color:#666}
.LoginContainer .WebAndMkt a:hover{text-decoration:none;}
.LoginContainer .WebAndMkt a img{display: inline-block;}
		


/*CSS for titlebar*/
.titlebar{float:left; width:100%; background: #FAFAFA;padding: 10px;border: solid 1px #dcdcdc;border-radius: 5px;position:relative; margin:10px 0 30px 0;}
.titlebar .PageTitle{font-size:18px;font-weight:bold;float:left;}
.titlebar .PageAction{float:right;}

/* CSS for ChooseImage */
.SelectImage{float:left; cursor:pointer; margin:10px; padding:5px; border:1px solid #CCC; }
.SelectImage img{width:250px; }
.ImagePreview{margin:5px; padding:2px; border:1px solid #CCC; height:35px;}

/* CSS for GalleryBuilder */
#ContainerGalleryImages{max-width:340px;}
.GalleryItem{float:left; cursor:pointer; margin:5px; padding:2px; border:1px solid #CCC; position:relative;}
.GalleryItem img{height:60px;}
.GalleryItem .BtnDeleteItem{position:absolute; z-index:5; top:0; right:0;display:none;}
.GalleryItem:hover .BtnDeleteItem{display:block;}

/* CSS for AjaxCategory */
#ContainerCategories select{margin-right:10px;}

/* CSS for ImageBrand*/
.ImageBrand{display:block; float:left;margin-left: -20px;}

input[type="text"], input[type="email"], input[type="password"], select, textarea {width:100%; padding:3px;margin-bottom:4px;}
#Payment_income{width:90%;}
#Payment_outcome{width:90%;}
#Service_price{width:90%;}
#MainContainer{padding-bottom:15px;}
.alert {padding: 8px 15px;margin-bottom: 10px; border: 0;border-left: 4px solid transparent;border-radius:0;}
.PageAlerts {padding:0;float: left;width: 100%;}
.alert-success {color: #3c763d;background-color: #dff0d8;border-color: #3c763d;}
.alert-danger {color: #a94442;background-color: #f2dede;border-color: #a94442;}
.alert-warning {color: #AC6700;background-color: #fcf8e3;border-color: #AC9000;}
.alert-info {color: #00689C;background-color: #d9edf7;border-color: #00689C;}

/*****/
.PageContent .col-md-1{margin-bottom:30px;}
.PageContent .col-md-2{margin-bottom:30px;}
.PageContent .col-md-3{margin-bottom:30px;}
.PageContent .col-md-4{margin-bottom:30px;}
.PageContent .col-md-5{margin-bottom:30px;}
.PageContent .col-md-6{margin-bottom:30px;}
.PageContent .col-md-7{margin-bottom:30px;}
.PageContent .col-md-8{margin-bottom:30px;}
.PageContent .col-md-9{margin-bottom:30px;}
.PageContent .col-md-10{margin-bottom:30px;}
.PageContent .col-md-11{margin-bottom:30px;}
.PageContent .col-md-12{margin-bottom:30px;}


/* TABLESORTER */
table.tablesorter {
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
background-color: #B8DBFB;
border: 1px solid #FFF;
}
table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #5AA2DF;
color: #FFF;
}