{% extends '::WamclientAssistant.html.twig' %}

{% block SiteTitle %}Listado de Servicios{% endblock %}

{% block PageTitle %}Listado de Servicios{% endblock %}

{% block PageAction %}
{% endblock %}

{% block PageContent %}

	<div class="col-md-9">
		{% if Repository != null %}
			<div class="table-responsive">
			<table class="table table-bordered table-condensed table-hover">
			
				<thead>
					<tr>
						<th><a href="{{ path('global_orderby', { 'NameSession': ServiceSession, 'Row': 'name' }) }}">Nombre</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': ServiceSession, 'Row': 'price' }) }}">Precio</a></th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					{% for Item in Repository %}
						<tr>
							<td>{{ Item.Name }}</td>
							<td>$ {{ Item.Price }}</td>					
							<td>
								{% if Item.Status == 1 %}
									<span class="glyphicon glyphicon-remove" title="Inactivo"></span>
								{% elseif Item.Status == 2 %}	
									<span class="glyphicon glyphicon-ok" title="Activo"></span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			{% include '::_pager.html.twig' with { ListPager: ListPager, ListUrl: path('wamclient_assistant_Service_List') } %}
		{% else %}	
			No se han encontrado resultados para mostrar.
		{% endif %}
	</div>
	<div class="col-md-3">
		{% include '::_filter.html.twig' with  { FilterForm: FilterForm, FilterSession: FilterSession, FilterPath: 'wamclient_assistant_Service_List' } %}
	</div>
	
	<style>
	 #Service_price{padding: 4px 3px;}
	</style>
{% endblock %}