{% extends '::seguridad.html.twig' %}

{% block PageContent %}
	
	<div class="LoginContainer">
		<img src="{{ asset('/website/images/LoginLogo.png') }}" class="form-signin-heading" />
		
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% if ErrorMessage %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ ErrorMessage }}
			</div>
		{% endif %}
		
		<form action="{{ path('wamadmin_login_check') }}" method="post" class="form-signin" novalidate >
			
			<strong class="input-block-level">Nombre de Usuario</strong>
			<input class="input-block-level" type="text" id="username" name="_username" placeholder="Escriba su usuario" />
			<strong class="input-block-level">Clave de Usuario</strong>
			<input class="input-block-level" type="password" id="password" name="_password" placeholder="Escriba su clave" />
			
			<button class="btn btn-info btn-sm" type="submit"><span class="glyphicon glyphicon-share"></span> Ingresar</button>
			
		</form>
		<div class="WebAndMkt">
			<a href="http://webandmkt.com/" target="_blank">
				<span>Desarrollado por</span>
				<img src="{{ asset('/website/images/WamLogo.png') }}">
			</a>
		</div>
	</div>

{% endblock %}


{% block stylesheets %}
	{{parent()}}
	<style type="text/css">
		body { background-color:rgb(127, 157, 173); }
		.LoginContainer{ max-width: 300px;  margin: 0 auto 20px; margin-top:100px;  }
		.LoginContainer img{ margin: 8px auto; display:block; }
		.form-signin {  
			max-width: 300px;   padding: 19px 29px 29px;    background-color: #F0FCFF;
			border: 1px solid #e5e5e5; -webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;
			-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
		}
		
		.form-signin .form-signin-heading, .form-signin .checkbox {  margin-bottom: 10px;  }
		.form-signin input[type="text"],  .form-signin input[type="password"] { font-size: 16px;  height: auto;   margin-bottom: 15px;  padding: 4px 6px;  }
		
		.WebAndMkt{margin: 10px auto;}
		.WebAndMkt a{display: block;text-align: center;color:#FFF}
		.WebAndMkt a:hover{text-decoration:none;}
		.WebAndMkt a img{display: inline-block;}
		
	</style>
{% endblock %}
