
{% extends '::Dashboard'~app.user.groups|first.role|lower[5:]|capitalize~'.html.twig' %}
	
{% block PageTitle %}
	Su grupo asignado es '{{app.user.groups|first.name}}'
{% endblock %}
	

{% block PageContent %}

	<div class="span12">
		<img class="error_msg" src="{{asset('/website/images/403error.jpg')}}">
	</div>
	
	<style>
		.error_msg{display:block; margin:0 auto; }
	</style>
{% endblock %}
	