
{% extends '::seguridad.html.twig' %}
	

{% block PageContent %}

	<div class="span12">
		<img class="error_msg" src="{{asset('/website/images/404error.jpg')}}">
	</div>
	
	<style>
		.error_msg{display:block; margin:0 auto; margin-top:150px}
	</style>
{% endblock %}
	