{% extends '::WamclientAssistant.html.twig' %}


{% block SiteTitle %}Editar Factura #{{Repository.Id}}{% endblock %}

{% block PageTitle %}Editar Factura #{{Repository.Id}}{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_assistant_Bill_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_assistant_Bill_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nueva Factura
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<div class="alert alert-warning" style="text-align:center;border: 1px solid #ddd;">
			<span class="glyphicon glyphicon-user"></span> {{ClientUser.Username}} |  
			<span class="glyphicon glyphicon-calendar"></span> {{ Repository.CreatedAt|date('M d, Y -  H:i:s') }}
		</div>
		<form action="{{ path('wamclient_assistant_Bill_Edit', {id: Repository.Id}) }}" method="post" {{ form_enctype(form) }} novalidate>

			<div class="table-responsive">
				<table class="table table-bordered">
					<tr class="warning">
						<td><strong>Factura #</strong></td>
						<td>{{form_widget(form.id_number)}}</td>
					</tr>
					<tr class="warning">
						<td><span class="Required" title="Requerido"><strong>Fecha</strong></span></td>
						<td>{{ form_widget(form.bill_date) }} </td>
					</tr>
					<tr>
						<th colspan="2"></th>
					</tr>
					<tr class="warning">
						<td><strong>Cedula / Ruc</strong></td>
						<td>
							<span class="ClientCi">
								{% if Repository.Client.Ci != '' %}	
									{{Repository.Client.Ci}}
								{% else %}
									N.A.
								{% endif %}
							</span>
						</td>
					</tr>
					<tr class="warning">
						<td><span class="Required" title="Requerido"><strong>Cliente</strong></span></td>
						<td>
							<input type="text" class="ClientName AjaxClients" value="{{Repository.Client.Lastname}}, {{Repository.Client.Name}}">
							<span style="display:none;">{{form_widget(form.client)}}</span>
						</td>
					</tr>
					<tr>
						<th colspan="2"></th>
					</tr>
					<tr class="warning">
						<td><strong>Tarifa</strong></td>
						<td>{{form_widget(form.has_iva)}}</td>
					</tr>
					<tr class="warning" style="display:none;">
						<td></td>
						<td>{{form_widget(form.locked)}}</td>
					</tr>
					<tr>
						<th colspan="2"></th>
					</tr>
					{% if Repository.HasIva != 3 %}
						<tr class="warning">
							<td><strong>Subtotal</strong></td>
							<td style="text-align:right">$ {{  Repository.Subtotal|number_format(2, '.', ',') }}</td>
						</tr>
						<tr class="warning">
							<td><strong>IVA 12%</strong></td>
							<td style="text-align:right">$ {{  Repository.Iva|number_format(2, '.', ',') }}</td>
						</tr>
					{% endif %}
					<tr class="warning">
						<td><strong>Total</strong></td>
						<td style="text-align:right"><span style="font-size:25px; ">$ {{  Repository.Total|number_format(2, '.', ',') }}</span></td>
					</tr>
				</table>
			</div>
			
			<div class="SubmitBtn" style="text-align:center;">
				<button class="btn btn-primary btn-sm" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Editar Cabecera</button>
				<span class="btn btn-warning BtnLock btn-sm"><span class="glyphicon glyphicon-lock"></span> Terminar Edición</span>
				<span class="btn btn-danger BtnCancel btn-sm"  data-id="{{Repository.Id}}"><span class="glyphicon glyphicon-remove"></span> Anular Factura</span>
			</div>
			{{ form_rest(form) }}
		</form>
	</div>
	
	
	<div class="col-md-8">
			
		{% if Repository.HasIva == 1 %}	
			<div class="alert alert-info">El IVA será <strong>agregado</strong> al precio del servicio ingresado.</div>
		{% elseif Repository.HasIva == 2 %}
			<div class="alert alert-info">El IVA será <strong>descontado</strong> del precio del servicio ingresado.</div>
		{% endif %}
		
		<div class="table-responsive" style="margin-bottom:20px;">
			<form action="{{ path('wamclient_assistant_BillService_New', {bill_id: Repository.Id}) }}" method="post" {{ form_enctype(form) }} novalidate >
				<table class="table table-bordered table-condensed" style="background:#d9edf7;margin-bottom:0;">
					<tr>
						<th>Servicio</th>
						<th style="text-align:center;">Cant.</th>
						<th style="text-align:center;">Precio</th>
						<th style="text-align:center;"></th>
					</tr>
					<tr>
						<td>
							{{form_widget(new_service_form.service)}}
							{{form_widget(new_service_form.description)}}
						</td>
						<td style="text-align:center;">{{form_widget(new_service_form.quantity)}}</td>
						<td style="text-align:center;">{{form_widget(new_service_form.price)}}</td>
						<td style="text-align:center;">
							<button class="btn btn-sm btn-info simple_submit" type="submit" title="Agregar">
								<span class="glyphicon glyphicon-cloud-upload"></span>
							</button>
							{{ form_rest(new_service_form) }}
						</td>
					</tr>
				</table>
			</form>
		</div>
		
		{% if BillService != null %}
			<div class="table-responsive">
				<table class="table table-bordered table-condensed table-hover">
					<tr>
						<th style="text-align:center;">
							<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'quantity' }) }}">Cant.</a>
						</th>
						<th>
							<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'description' }) }}">Servicio</a>
						</th>
						<th style="text-align:center;">
							<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'price' }) }}">Precio U.</a>
						</th>
						{% if Repository.HasIva != 3 %}	
							<th style="text-align:center;">
								<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'total' }) }}">Subtotal</a>
							</th>
							<th style="text-align:center;">
								<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'total' }) }}">IVA</a>
							</th>
						{% endif %}						
						<th style="text-align:center;">
							<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'total' }) }}">Total</a>
						</th>
						<th></th>
					</tr>
					{% for Service in BillService %}
						<tr>
							{% if Repository.HasIva == 1 %}	
							
								<td style="text-align:center;">{{Service.Quantity }}</td>
								<td>{{Service.Description }}</td>
								<td style="text-align:right;">$ {{ Service.Price }}</td>
								<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity)|number_format(2, '.', ',')  }}</td>
								<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity * 0.12)|number_format(2, '.', ',') }}</td>
								<td style="text-align:right;">$ {{  (Service.Total * 1.12)|number_format(2, '.', ',') }}</td>			
								
							{% elseif Repository.HasIva == 2 %}
							
								<td style="text-align:center;">{{Service.Quantity }}</td>
								<td>{{Service.Description }}</td>
								<td style="text-align:right;">$ {{  (Service.Price / 1.12)|number_format(2, '.', ',')   }}</td>
								<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity  / 1.12)|number_format(2, '.', ',') }}</td>
								<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity /1.12 * 0.12)|number_format(2, '.', ',')  }}</td>
								<td style="text-align:right;">$ {{  (Service.Total)|number_format(2, '.', ',') }}</td>
								
							{% elseif Repository.HasIva == 3 %}
								
								<td style="text-align:center;">{{Service.Quantity }}</td>
								<td>{{Service.Description }}</td>
								<td style="text-align:right;">$ {{Service.Price }}</td>
								<td style="text-align:right;">$ {{(Service.Total)|number_format(2, '.', ',') }}</td>
							
							{% endif %}
							<td style="text-align:center;">
								<a class="btn btn-danger btn-sm BtnDelete" href="#" title="Eliminar"  data-id="{{Service.Id}}">
									<span class="glyphicon glyphicon-trash"></span>
								</a> 
							</td>
						</tr>					
					{% endfor %}
				</table>
			</div>
		{% else %}
			Ingrese servicios a la factura.
		{% endif %}
			
	</div>
	
	<script>
		
		$(document).ready(function() {
		
			$( '.datepicker' ).datepicker({
				dateFormat: 'M dd, yy',
				firstDay: 1,
				maxDate: 0,
				dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ] 
			});
			
			$('.AjaxClients').focus(function() {
				$('.ClientCi').html('No se ha escogido un cliente');
				$('.ClientName').val('');
				$('#Bill_client').val('');
			});
			
			$( '.AjaxClients' ).autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "{{ path('global_AjaxClients') }}",
						data: {
							term: request.term,
							db: "{{ db }}",
						},
						dataType: "json",
						success: function(data) {
							$('.ClientCi').html('No se ha escogido un cliente');
							$('#Bill_client').val('');
							response($.map(JSON.parse(data), function( item ) {
								return { label: item.ci+' - '+item.name, value: item.name, ci: item.ci, id: item.id	}
							}));
						},
					})
				},
				select: function( event, ui ) {
					$('#Bill_client').val(ui.item.id);
					$('.ClientCi').html(ui.item.ci);
					$('.ClientName').val(ui.item.value);
					$('#Bill_has_iva').focus();
					return false;
				}
			});
			
			$( '.AjaxServices' ).autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "{{ path('global_AjaxServices') }}",
						data: {
							term: request.term,
							db: "{{ db }}",
						},
						dataType: "json",
						success: function(data) {
							$('#BillService_service').val('');
							response($.map(JSON.parse(data), function( item ) {
								return { label: item.name+' - '+item.price, value: item.name, price: item.price, id: item.id	}
							}));
						},
					})
				},
				select: function( event, ui ) {
					$('#BillService_service').val(ui.item.id);
					$('#BillService_description').val(ui.item.value);
					$('#BillService_price').val(ui.item.price);
					$('#BillService_quantity').focus();
					return false;
				}
			});
			
			$('.BtnLock').bind('click',function() {
				var r=confirm('¿Está seguro de querer terminar la edición de la Orden?');	
				if (r==true) 	{	
					$('#Bill_locked').val('2');
					$(this).closest('form').submit();
				}
			});
			
			$('.BtnCancel').bind('click',function() {
				var r=confirm('¿Está seguro de querer anular la factura?');	
				if (r==true) 	{	window.location.replace('{{path('wamclient_assistant_Bill_Cancel') }}?id='+$(this).data('id'));	}
			});
			
			$('.BtnDelete').bind('click',function() {
				var r=confirm('¿Está seguro de querer eliminar el servicio?');	
				if (r==true) 	{	window.location.replace('{{path('wamclient_assistant_BillService_Delete') }}?id='+$(this).data('id'));	}
			});
			
		});

	</script>
	
	<style>
		div.table { display:table; border: 1px solid #dddddd;border-collapse: separate;border-left: 0;border-top: 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
		div.table span,  div.table form{ display:table-row; }
		div.table span .th-cell { display:table-cell; font-weight:bold;padding: 4px 5px;border: 1px solid #dddddd;border-collapse: separate;border-right: 0;border-bottom:0;}
		div.table form .td-cell, div.table span .td-cell { display:table-cell; padding: 4px 5px;border: 1px solid #dddddd;border-collapse: separate;border-right: 0;border-bottom:0;}
		#BillService_description{width:300px;}
		#BillService_price{width:70%;}
		#BillService_service{display:none;}
		.SubmitBtn .btn{margin:5px;}
	</style>
{% endblock %}