{% extends '::WamclientAssistant.html.twig' %}

{% block SiteTitle %}Crear Factura{% endblock %}

{% block PageTitle %}Crear Factura{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_assistant_Bill_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_assistant_Bill_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nueva Factura
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<form action="{{ path('wamclient_assistant_Bill_New') }}" method="post" {{ form_enctype(form) }} novalidate >
		
			<div class="table-responsive">
			<table class="table table-bordered">
				<tr class="warning">
					<td><strong>Factura #</strong></td>
					<td>{{form_widget(form.id_number)}}</td>
				</tr>
				<tr class="warning">
					<td><span class="Required" title="Requerido"><strong>Fecha</strong></span></td>
					<td>{{ form_widget(form.bill_date) }} </td>
				</tr>
				<tr>
					<th colspan="2"></th>
				</tr>
				<tr class="warning">
					<td><strong>Cedula / Ruc</strong></td>
					<td>
						<span class="ClientCi">No se ha escogido un cliente</span>
					</td>
				</tr>
				<tr class="warning">
					<td><span class="Required" title="Requerido"><strong>Cliente</strong></span></td>
					<td>
						<input type="text" class="ClientName AjaxClients">
						<span style="display:none;">{{form_widget(form.client)}}</span>
					</td>
				</tr>
				<tr>
					<th colspan="2"></th>
				</tr>
				<tr class="warning">
					<td><strong>Tarifa</strong></td>
					<td>{{form_widget(form.has_iva)}}</td>
				</tr>
				<tr class="warning" style="display:none;">
					<td></td>
					<td>{{form_widget(form.locked)}}</td>
				</tr>
			</table>
			</div>
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
			{{ form_rest(form) }}
		</form>
	</div>
	
	<script>
		
		$(document).ready(function() {
		
			$( '.datepicker' ).datepicker({
				dateFormat: 'M d, yy',
				firstDay: 1,
				maxDate: 0,
				dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]
			});
			$( ".datepicker" ).datepicker( "setDate", "{{ 'now'|date('M d, Y') }}" );
			
			
			$('.AjaxClients').focus(function() {
				$('.ClientCi').html('No se ha escogido un cliente');
				$('.ClientName').val('');
				$('#Bill_client').val('');
			});
			
			$( '.AjaxClients' ).autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "{{ path('global_AjaxClients') }}",
						data: {
							term: request.term,
							db: "{{ db }}",
						},
						dataType: "json",
						success: function(data) {
							$('.ClientCi').html('No se ha escogido un cliente');
							$('#Bill_client').val('');
							response($.map(JSON.parse(data), function( item ) {
								return { label: item.ci+' - '+item.name, value: item.name, ci: item.ci, id: item.id	}
							}));
						},
					})
				},
				select: function( event, ui ) {
					$('#Bill_client').val(ui.item.id);
					$('.ClientCi').html(ui.item.ci);
					$('.ClientName').val(ui.item.value);
					$('#Bill_has_iva').focus();
					return false;
				}
			});
			
		});

	</script>

{% endblock %}