{% extends '::WamclientAssistant.html.twig' %}


{% block SiteTitle %}Ver Factura{% endblock %}

{% block PageTitle %}Ver Factura #{{Repository.Id}}{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_assistant_Bill_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_assistant_Bill_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nueva Factura
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<div class="alert alert-warning" style="text-align:center;border: 1px solid #ddd;">
			<span class="glyphicon glyphicon-user"></span> {{ ClientUsers[Repository.WamUser] }} |  
			<span class="glyphicon glyphicon-calendar"></span> {{ Repository.CreatedAt|date('M d, Y -  H:i:s') }}
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr class="warning">
					<td><strong>Factura #</strong></td>
					<td>
						{% if Repository.IdNumber != '' %}
							{{Repository.IdNumber}}	
						{% else %}				
							N.A.	
						{% endif %}
					</td>
				</tr>
				<tr class="warning">
					<td><strong>Fecha</strong></td>
					<td>{{ Repository.BillDate|date('M d, Y') }}</td>
				</tr>
				<tr>
					<th colspan="2"></th>
				</tr>
				<tr class="warning">
					<td><strong>Cedula</strong></td>
					<td>
						{% if Repository.Client.Ci != '' %}	
							{{Repository.Client.Ci}}
						{% else %}
							N.A.
						{% endif %}
					</td>
				</tr>
				<tr class="warning">
					<td><strong>Cliente</strong></td>
					<td>
						{% if Repository.Client.Id > 1 %}	
							<a href="{{ path('wamclient_assistant_Client_Edit', { 'id': Repository.Client.Id }) }}" target="_blank">
								{{Repository.Client.Lastname}}, {{Repository.Client.Name}}
							</a>
						{% else %}
							Consumidor Final
						{% endif %}
					</td>
				</tr>
				<tr>
					<th colspan="2"></th>
				</tr>
				<tr class="warning">
					<td><strong>Tarifa</strong></td>
					<td>
						{% if Repository.HasIva == 1 %}			
							IVA 12% (agregado al precio)
						{% elseif Repository.HasIva == 2 %}
							IVA 12% (descontado del precio)
						{% elseif Repository.HasIva == 3 %}
							IVA 0%
						{% endif %}
					</td>
				</tr>
				<tr>
					<th colspan="2"></th>
				</tr>
				{% if Repository.HasIva != 3 %}
					<tr class="warning">
						<td><strong>Subtotal</strong></td>
						<td style="text-align:right">$ {{  Repository.Subtotal|number_format(2, '.', ',') }}</td>
					</tr>
					<tr class="warning">
						<td><strong>IVA 12%</strong></td>
						<td style="text-align:right">$ {{  Repository.Iva|number_format(2, '.', ',') }}</td>
					</tr>
				{% endif %}
				<tr class="warning">
					<td><strong>Total</strong></td>
					<td style="text-align:right"><span style="font-size:25px; ">$ {{  Repository.Total|number_format(2, '.', ',') }}</span></td>
				</tr>
			</table>
		</div>
		
		{% if Repository.Canceled == 1  %}
		<div class="SubmitBtn" style="text-align:center;">
			<span class="btn btn-danger BtnCancel btn-sm" data-id="{{Repository.Id}}"><span class="glyphicon glyphicon-remove"></span> Anular Factura</span>
		</div>
		{% endif %}
	</div>
	
	
	<div class="col-md-8">
	
		{% if Repository.Canceled == 2 %}	
			<div class="alert alert-danger">Esta factura se encuentra anulada.</div>
		{% endif %}
		
		<ul class="nav nav-tabs" id="BillTabs">
			<li class="active"><a href="#ItemServices" data-toggle="tab"><span class="glyphicon glyphicon-shopping-cart"></span> Servicios / Productos</a></li>
			<li><a href="#Payments" data-toggle="tab"><span class="glyphicon glyphicon-usd"></span> Registrar Pagos</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="ItemServices"><!--ITEM SERVICES TABCONTENT-->
				{% if BillService != null %}
					<div class="table-responsive">
						<table class="table table-bordered table-condensed table-hover">
							<tr>
								<th style="text-align:center;">
									<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'quantity' }) }}">Cant.</a>
								</th>
								<th>
									<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'description' }) }}">Servicio</a>
								</th>
								<th style="text-align:center;">
									<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'price' }) }}">Precio U.</a>
								</th>
								{% if Repository.HasIva != 3 %}	
									<th style="text-align:center;">
										<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'total' }) }}">Subtotal</a>
									</th>
									<th style="text-align:center;">
										<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'total' }) }}">IVA</a>
									</th>
								{% endif %}						
								<th style="text-align:center;">
									<a href="{{ path('global_orderby', { 'NameSession': BillServiceSession, 'Row': 'total' }) }}">Total</a>
								</th>
							</tr>
							{% for Service in BillService %}
								<tr>
									{% if Repository.HasIva == 1 %}	
									
										<td style="text-align:center;">{{Service.Quantity }}</td>
										<td>{{Service.Description }}</td>
										<td style="text-align:right;">$ {{ Service.Price }}</td>
										<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity)|number_format(2, '.', ',')  }}</td>
										<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity * 0.12)|number_format(2, '.', ',') }}</td>
										<td style="text-align:right;">$ {{  (Service.Total * 1.12)|number_format(2, '.', ',') }}</td>			
										
									{% elseif Repository.HasIva == 2 %}
									
										<td style="text-align:center;">{{Service.Quantity }}</td>
										<td>{{Service.Description }}</td>
										<td style="text-align:right;">$ {{  (Service.Price / 1.12)|number_format(2, '.', ',')   }}</td>
										<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity / 1.12)|number_format(2, '.', ',')  }}</td>
										<td style="text-align:right;">$ {{  (Service.Price * Service.Quantity /1.12 * 0.12)|number_format(2, '.', ',') }}</td>
										<td style="text-align:right;">$ {{  (Service.Total)|number_format(2, '.', ',') }}</td>
										
									{% elseif Repository.HasIva == 3 %}
										
										<td style="text-align:center;">{{Service.Quantity }}</td>
										<td>{{Service.Description }}</td>
										<td style="text-align:right;">$ {{Service.Price }}</td>
										<td style="text-align:right;">$ {{(Service.Total)|number_format(2, '.', ',') }}</td>
									
									{% endif %}
								</tr>					
							{% endfor %}
						</table>
					</div>
				{% else %}
					No se ingresaron servicios a la factura.
				{% endif %}
			</div>
			
			<div class="tab-pane" id="Payments"><!--PAYMENTS TABCONTENT-->
				{% if Repository.Canceled == 1 %}
					{% if Repository.Paid < Repository.Total %}
						<div class="alert alert-danger" style="text-align:center;border: 1px solid #ddd;">
							El cliente debe cancelar por esta factura <strong>$ {{ (Repository.Total - Repository.Paid)|number_format(2, '.', ',') }}</strong>
						</div>
						<form action="{{ path('wamclient_assistant_Payment_IncomeBill',{'bill_id': Repository.Id}) }}" method="post" novalidate class="PaymentInForm" style="display:none;">
							{{form_widget(PaymentInForm.bill, {value : Repository.Id })}}
							{{form_widget(PaymentInForm.client, {value : Repository.Client.Id})}}
							{{form_widget(PaymentInForm.income)}}
							{{form_widget(PaymentInForm.description, {value : '<p>Se cancela valores adeudados por factura #'~Repository.Id~'</p>'})}}
							{{ form_rest(PaymentInForm) }}
						</form>
						<!--START | PAYMENT HELPER BUTTONS-->
						<div class="PaymentHelper">
							<div class="btn btn-default TotalHelper" data-total="{{ (Repository.Total - Repository.Paid)|number_format(2, '.', ',') }}">
								<p>Cancelar la totalidad</p>
								<span style="font-size:25px;">$ {{ (Repository.Total - Repository.Paid)|number_format(2, '.', ',') }}</span>
							</div>
							<div class="btn btn-default PaidHelper">
								<p>Realizar un abono</p>
								$ <input type="text" class="PaidInput"/>
								<span class="btn btn-success btn-sm PaymentSubmit"><span class="glyphicon glyphicon-cloud-upload"></span> </span>
							</div>
						</div>
						<!--END | PAYMENT HELPER BUTTONS-->
					{% elseif Repository.Paid == Repository.Total %}
						<div class="alert alert-info" style="text-align:center;border: 1px solid #ddd;">
							El cliente ya canceló la <strong>totalidad</strong> de esta factura.
						</div>
					{% endif %}
				{% endif %}
				{% if Payments != null %}
					<div class="table-responsive">
						<table class="table table-bordered table-condensed table-hover">
							<thead>
								<tr>
									<th>Fecha</th>
									<th>Descripción</th>
									<th>Ingreso</th>
									<th>Egreso</th>
								</tr>
							</thead>
							<tbody>
								{% for Item in Payments %}
									<tr {% if Item.Type == 2 %}class="danger"{% endif %} {% if Item.Type == 3 %}class="info"{% endif %} title="Creado por: {{ ClientUsers[Item.WamUser] }}" >
										<td>{{ Item.CreatedAt|date('M d, Y | H:i') }}</td>
										<td>{{ Item.Description|raw }}</td>
										<td>{{ Item.Income }}</td>
										<td>{{ Item.Outcome }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}	
					No se han encontrado resultados para mostrar.
				{% endif %}
			</div>
		</div>
		
			
	</div>
	
	<style>
		.tab-content{padding: 15px;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;border-left: 1px solid #CCC;}	
		
		.PaymentHelper{text-align:center;}
		.PaymentHelper .TotalHelper, .PaymentHelper .PaidHelper{width:170px;margin:10px 10px 30px 10px;background:#F9FFF9;}
		.PaymentHelper .TotalHelper:hover, .PaymentHelper .PaidHelper:hover{background:#F1FFF0;}
		.PaymentHelper .PaidInput{width: 67px;}
	</style>
	
	<script>
		
		$(document).ready(function() {
		
			$('.TotalHelper').click(function (e) {
				e.preventDefault();
				var r=confirm('¿Está seguro de realizar el pago total de $ '+$(this).data('total')+'?');	
				if (r==true) 	{
					$('#Payment_income').val($(this).data('total'));
					$('.TotalHelper, .PaidHelper').attr('disabled', 'disabled');
					$('.PaymentInForm').submit();
				}
			});
			
			$('.PaymentSubmit').click(function (e) {
				$('#Payment_income').val('');
				e.preventDefault();
				var r=confirm('¿Está seguro de realizar un abono de $ '+$('.PaidInput').val()+'?');	
				if (r==true) 	{
					$('#Payment_income').val($('.PaidInput').val());
					$('.TotalHelper, .PaidHelper').attr('disabled', 'disabled');
					$('.PaymentInForm').submit();
				}
			});
			
			$('#BillTabs a').click(function (e) {
				e.preventDefault()
				$(this).tab('show')
			});
			
			$('.BtnCancel').bind('click',function() {
				var r=confirm('¿Está seguro de querer anular la factura?');	
				if (r==true) 	{	window.location.replace('{{path('wamclient_assistant_Bill_Cancel') }}?id='+$(this).data('id'));	}
			});
			
		});

	</script>
	
{% endblock %}