<div class="FormContainer">
	<div class="Title">Filtrar listado</div>
	<form action="{{ path(FilterPath) }}" method="post" {{ form_enctype(FilterForm) }} novalidate>
		{{ form_widget(FilterForm) }}
		<div class="btn-group">
			<button type="submit" class="btn btn-sm btn-primary">
				<span class="glyphicon glyphicon-search"></span> Filtrar
			</button>
			<a  class="btn btn-sm btn-info" href="{{ path('global_resetfilter', { 'FilterName': FilterSession } ) }}" class="btn btn-small">
				<span class="glyphicon glyphicon-th"></span> Reset
			</a>
		</div>
	</form>
</div>

<style>
	.FormContainer .Title{padding:5px 15px; background:#FAFAFA;border:1px solid #DDD;font-size:14px; font-weight:bold;}
	.FormContainer form{margin:0;padding:20px; border:1px solid #DDD;}
	.FormContainer .btn-group{margin-top:15px;}
</style>