
  <ul class="pagination pagination-sm">
	<li><a href="{{ ListUrl }}"> << </a></li>
	{% if ListPager.PrevPage != null %}
		<li><a href="{{ ListUrl }}?page={{ListPager.PrevPage}}"> < </a></li>
	{% endif %}
	
	{% for Link in ListPager.Links %}
		{% if ListPager.CurrentPage == Link %}
			<li>
				<a href="{{ ListUrl }}?page={{ListPager.CurrentPage}}" style="color: #FFFFFF; background: #0088cc;">{{ListPager.CurrentPage}}</a>
			</li>
		{% else %}	
			<li><a href="{{ ListUrl }}?page={{Link}}">{{Link}}</a></li>
		{% endif %}
	{% endfor %}

	{% if ListPager.NextPage != null %}
		<li><a href="{{ ListUrl }}?page={{ListPager.NextPage}}"> > </a></li>
	{% endif %}
	<li><a href="{{ ListUrl }}?page={{ListPager.LastPage}}"> >> </a></li>
  </ul>