<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block stylesheets %}
            <link href="{{ asset('/bootstrap3/css/bootstrap.css') }}" rel="stylesheet" >
            <link href="{{ asset('/website/css/dashboard.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('/website/js/jquery.js') }}"></script>
            <script src="{{ asset('/bootstrap3/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
	
        <!--CONTENEDOR-->
        <div class="container" >
			{% block PageContent %}{% endblock %}
        </div>
		<script>
			$( document ).ready(function() {
				$('form').submit(function(){
					$('input[type=submit], button[type=submit]', this).attr('disabled', 'disabled');
					$('input[type=submit], button[type=submit]', this).html('<span class="glyphicon glyphicon-share"></span> Ingresando...');
				});
			});
		</script>
    </body>
</html>
