<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block SiteTitle %}Welcome to WamCounter!{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block Stylesheets %}
            <link href="{{ asset('/bootstrap3/css/bootstrap.css') }}" rel="stylesheet" >
            <link href="{{ asset('/website/css/dashboard.css') }}" rel="stylesheet">
            <link href="{{ asset('/jquery.ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
        {% endblock %}

        {% block Javascripts %}
            <script src="{{ asset('/website/js/jquery.js') }}"></script>
            <script src="{{ asset('/bootstrap3/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('/jquery.ui/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
            <script src="{{ asset('/ckeditor/ckeditor.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <!--MENU NAV-->
		<div class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{path('wamclient_home')}}"><span class="glyphicon glyphicon-home"></span> WamCount</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{path('wamclient_Client_List')}}"><span class="glyphicon glyphicon-list-alt"></span> Lista de Clientes</a></li>
								<li><a href="{{path('wamclient_Client_New')}}"><span class="glyphicon glyphicon-file"></span> Crear Cliente</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturas<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{path('wamclient_Bill_List')}}"><span class="glyphicon glyphicon-list-alt"></span> Lista de Facturas</a></li>
								<li><a href="{{path('wamclient_Bill_New')}}"><span class="glyphicon glyphicon-file"></span> Nueva Factura</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gastos<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{path('wamclient_Cost_List')}}"><span class="glyphicon glyphicon-list-alt"></span> Lista de Gastos</a></li>
								<li><a href="{{path('wamclient_Cost_New')}}"><span class="glyphicon glyphicon-file"></span> Nuevo Gasto</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{path('wamclient_Service_List')}}"><span class="glyphicon glyphicon-list-alt"></span> Lista de Servicios</a></li>
								<li><a href="{{path('wamclient_Service_New')}}"><span class="glyphicon glyphicon-file"></span> Nuevo Servicio</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuentas<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{path('wamclient_Payment_List')}}"><span class="glyphicon glyphicon-usd"></span> Mostrar Cuentas</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadísticas<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{path('wamclient_Statistic_Review')}}"><span class="glyphicon glyphicon-stats"></span> Resumen Estadístico</a></li>
								<li><a href="{{path('wamclient_Statistic_BillDaily')}}"><span class="glyphicon glyphicon-stats"></span> Estadística de Facturas</a></li>
								<li><a href="{{path('wamclient_Statistic_CostDaily')}}"><span class="glyphicon glyphicon-stats"></span> Estadística de Gastos</a></li>
								<li><a href="{{path('wamclient_Statistic_ClientDaily')}}"><span class="glyphicon glyphicon-stats"></span> Estadística de Clientes</a></li>
								<li><a href="{{path('wamclient_Statistic_ServiceDaily')}}"><span class="glyphicon glyphicon-stats"></span> Estadística de Servicios</a></li>
								<li><a href="{{path('wamclient_Statistic_CostVsBill')}}"><span class="glyphicon glyphicon-stats"></span> Estadística de Facturas Vs Gastos</a></li>
							</ul>
						</li>
					</ul>
					{% if app.user %}
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ app.user.name }} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{path('wamclient_profile_changepassword')}}"><span class="glyphicon glyphicon-lock"></span> Cambiar clave</a></li>
								</ul>
							</li>
							<li><a class="btn" href="{{ path('wamclient_logout') }}">Salir</a></li>
						</ul>
					{% endif %}
				</div>
			</div>
        </div>

        <!--CONTENEDOR-->
        <div class="container" id="MainContainer">
			<div class="PageTitle row">
				<div class="titlebar col-md-12">
					<div class="PageTitle">{% block PageTitle %}{% endblock %}</div>
					<div class="PageAction btn-group">
						{% block PageAction %}{% endblock %}
					</div>
				</div>
				
				<div class="PageAlerts col-md-12" style="margin-left: 0;">
					{% for flashMessage in app.session.flashbag.get('success') %}
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ flashMessage }}
						</div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('error') %}
						<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ flashMessage }}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="PageContent row">
				{% block PageContent %}{% endblock %}
			</div>
        </div>
		<script>
			$( document ).ready(function() {
				$('form').submit(function(){
					$('input[type=submit], button[type=submit]', this).attr('disabled', 'disabled');
					$('input[type=submit], button[type=submit]', this).html('<span class="glyphicon glyphicon-cloud-upload"></span> Espere...');
					
					if($('input[type=submit], button[type=submit]', this).hasClass('simple_submit'))
					{
						$('input[type=submit], button[type=submit]', this).html('<span class="glyphicon glyphicon-time"></span>');
					}
				});
			});
		</script>
    </body>
</html>
