{% extends '::WamclientAdmin.html.twig' %}


{% block SiteTitle %}Estadística de Facturas | Anual{% endblock %}

{% block PageTitle %}Estadística de Facturas | Anual{% endblock %}

{% block PageAction %}
	<form action="{{ path('wamclient_Statistic_BillYearly') }}" method="post" {{ form_enctype(StatisticForm) }} novalidate >
		{{form_widget(StatisticForm.year_selector)}}
		{{ form_rest(StatisticForm) }}
	</form>
{% endblock %}

{% block PageContent %}
	<div style="margin:10px 0 20px 0;text-align:center;">
		<a href="{{ path('wamclient_Statistic_BillDaily') }}" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Diarias
		</a>
		<a href="{{ path('wamclient_Statistic_BillMonthly') }}" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Mensuales
		</a>
		<a  href="{{ path('wamclient_Statistic_BillYearly') }}" class="btn btn-default btn-sm active">
			<span class="glyphicon glyphicon-stats"></span> Estadísticas Anuales
		</a> 
	</div>
		
	<div class="col-md-12" style="margin-bottom:30px;">
		<div id="BillYear_LineChart"></div>
	</div>
	<div class="col-md-6" style="margin-bottom:30px;">
		<div id="BillValues_PieChart"></div>
	</div>	
	<div class="col-md-6" style="margin-bottom:30px;">
		<div id="BillTypes_PieChart"></div>
	</div>
	
	<div class="col-md-12">
		{% if (BillsByMonth_Total['count']>0) %}
		<div class="table-responsive">
			<table id="SelectTable" class="table table-bordered table-condensed table-hover tablesorter">
				<thead>
					<tr style="background:#FFF2DB; text-align:center; font-size:16px;">
						<td colspan="5">
							<strong>Facturas Emitidas: {{YearDate}}</strong>
							<span class="btn btn-primary btn-xs" style="float:right;" onclick="selectElementContents( document.getElementById('SelectTable') );">
								<span class="glyphicon glyphicon-cloud-download"></span>
							</span>
						</td>
					</tr>
					{% if (BillTypes_Pie|length>0) %}
						{% for BillType in BillTypes_Pie %}
							<tr>
								<td>{{BillType[0]}}</td>
								<td style="text-align:center;">{{BillType[1]}}</td>
								<td style="text-align:right;">$ {{BillType[2]|number_format(2, '.', ',')}}</td>
								<td style="text-align:right;">$ {{BillType[3]|number_format(2, '.', ',')}}</td>
								<td style="text-align:right;">$ {{BillType[4]|number_format(2, '.', ',')}}</td>
							</tr>
						{% endfor %}
						<tr style="background:#FFFEED"><td colspan="5"></td></tr>
					{% endif %}
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ BillsByMonth_Total['bill_count']|number_format }}</td>
						<td style="text-align:right;">$ {{ BillsByMonth_Total['subtotal']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ BillsByMonth_Total['iva']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ BillsByMonth_Total['total']|number_format(2, '.', ',')}}</td>
					</tr>
					<tr>
						<td style="text-align:right;" ><strong>Promedios</strong></td>
						<td style="text-align:center;">{{ (BillsByMonth_Total['bill_count']/BillsByMonth_Total['count'])|number_format  }}</td>
						<td style="text-align:right;">$ {{ (BillsByMonth_Total['subtotal']/BillsByMonth_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (BillsByMonth_Total['iva']/BillsByMonth_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (BillsByMonth_Total['total']/BillsByMonth_Total['count'])|number_format(2, '.', ',')  }}</td>
					</tr>
					<tr style="background:#EAEAEA"><td colspan="5"></td></tr>
					<tr>
						<th>Fecha</th>
						<th># de Facturas</th>
						<th>Subtotal</th>
						<th>IVA</th>
						<th>Total</th>
					</tr>
				</thead>
				
				<tbody>
					{% for Bills in BillsByMonth_Table %}
						<tr>
							<td>{{ Bills['bill_date']}}</td>
							<td style="text-align:center;">{{ Bills['bill_count']}}</td>
							<td style="text-align:right;">$ {{ Bills['subtotal']}}</td>
							<td style="text-align:right;">$ {{ Bills['iva']}}</td>
							<td style="text-align:right;">$ {{ Bills['total']}}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr style="background:#EAEAEA"><td colspan="5"></td></tr>
					<tr>
						<td style="text-align:right;" ><strong>Promedios</strong></td>
						<td style="text-align:center;">{{ (BillsByMonth_Total['bill_count']/BillsByMonth_Total['count'])|number_format  }}</td>
						<td style="text-align:right;">$ {{ (BillsByMonth_Total['subtotal']/BillsByMonth_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (BillsByMonth_Total['iva']/BillsByMonth_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (BillsByMonth_Total['total']/BillsByMonth_Total['count'])|number_format(2, '.', ',')  }}</td>
					</tr>
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ BillsByMonth_Total['bill_count']|number_format }}</td>
						<td style="text-align:right;">$ {{ BillsByMonth_Total['subtotal']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ BillsByMonth_Total['iva']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ BillsByMonth_Total['total']|number_format(2, '.', ',')}}</td>
					</tr>
				</tfoot>
		</div>
		{% else %}
			<div style="text-align:center;">No se encuentran facturas emitidas en el periodo de tiempo seleccionado.</div>
		{% endif %}
	</div>	

    <script src="{{ asset('/highcharts/js/highcharts.js') }}"></script>
    <script src="{{ asset('/highcharts/js/modules/exporting.js') }}"></script>
    <script src="{{ asset('/website/js/jquery.tablesorter.js') }}"></script>
	
	<script>
		
		$(document).ready(function() {
		
			$(".tablesorter").tablesorter({sortList: [[0,1]]});
			
			$( '#StatisticBill_year_selector' ).change(function() {
				$(this).closest('form').submit();
			});
			
			{% if (BillValues_Pie|length>0) %}
				$('#BillValues_PieChart').highcharts({
					colors: ['#1aadce', '#624289'],
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '<strong>Valores Facturados: $ {{BillValues_Pie['bill_total']}}</strong>'
					},
					subtitle: {
						text: '{{YearDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							['Ganancia: <strong>$ {{BillValues_Pie['bill_subtotal']}}</strong>',   {{ (BillValues_Pie['bill_subtotal'] / BillValues_Pie['bill_total'] * 100)|number_format(2, '.', '') }} ],
							['IVA: <strong>$ {{BillValues_Pie['bill_iva']}}</strong>',   {{ (BillValues_Pie['bill_iva'] / BillValues_Pie['bill_total'] * 100)|number_format(2, '.', '') }} ],
						]
					}]
				});
			{% endif %}
			
			{% if (BillTypes_Pie|length>0) %}
				$('#BillTypes_PieChart').highcharts({
					colors: ['#BB4411', '#309C7E', '#1B7CB1'],
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '<strong>Facturas emitidas: {{BillValues_Pie['bill_count']}}</strong>'
					},
					subtitle: {
						text: '{{YearDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							{% for BillType in BillTypes_Pie %}
								['{{BillType[0]}}: <strong>{{BillType[1]}}</strong>',   {{ (BillType[1] / BillValues_Pie['bill_count'] * 100)|number_format(2, '.', '') }} ],						
							{% endfor %}
						]
					}]
				});
			{% endif %}
			
			{% if (BillYear_Line|length>0) %}
				$('#BillYear_LineChart').highcharts({
					colors: ['#bb4411','#1aadce', '#624289'],
					chart: {
						backgroundColor: '#F5FCFF',
						borderColor:'#CCC',
						borderWidth: 1,
						plotShadow: true,
						plotBorderWidth: 1
					},
					title: {
						text: '<strong>Desglose de Valores Facturados | Mensualmente</strong>',
					},
					subtitle: {
						text: '{{YearDate}}',
					},
					xAxis: {
						gridLineWidth: 1,
						lineColor: '#000',
						tickColor: '#000',
						categories: [
							{% for BillMonth in BillYear_Line %}
								'{{BillMonth['label']}}',
							{% endfor %}
						],
						labels: {
							step: {{ (BillYear_Line|length /6)|number_format }}
						}
					},
					yAxis: {
						minorTickInterval: 'auto',
						lineColor: '#000',
						lineWidth: 1,
						tickWidth: 1,
						tickColor: '#000',
						min: 0,
						allowDecimals: true,
						labels: {
							formatter: function() {
								return '$ '+parseFloat(this.value).toFixed(2);
							}
						},
						title: {
							text: 'Valores Generados ($)'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						valueDecimals:2,
						valuePrefix: '$ ',
						shared: true,
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					},
					series: [
						{
							name: 'Total',
							data:  [
								{% for BillMonth in BillYear_Line %}
									{{BillMonth['total']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}, {
							name: 'Subtotal',
							data: [
								{% for BillMonth in BillYear_Line %}
									{{BillMonth['subtotal']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}, {
							name: 'IVA',
							data:  [
								{% for BillMonth in BillYear_Line %}
									{{BillMonth['iva']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}	
					]
				});	
			
			{% endif %}
		});

		function selectElementContents(el) {
			var body = document.body, range, sel;
			if (document.createRange && window.getSelection) {
				range = document.createRange();
				sel = window.getSelection();
				sel.removeAllRanges();
				try {
					range.selectNodeContents(el);
					sel.addRange(range);
				} catch (e) {
					range.selectNode(el);
					sel.addRange(range);
				}
			} else if (body.createTextRange) {
				range = body.createTextRange();
				range.moveToElementText(el);
				range.select();
			}
		}
	</script>

	<style>
		.highcharts-button{display:none;}
		form select{width:auto;}
		.table-bordered > thead > tr > td {border-bottom-width: 1px; }
	</style>
{% endblock %}