{% extends '::WamclientAdmin.html.twig' %}


{% block SiteTitle %}Estadística de Clientes | Diaria{% endblock %}

{% block PageTitle %}Estadística de Clientes | Diaria{% endblock %}

{% block PageAction %}
	<form action="{{ path('wamclient_Statistic_ClientDaily') }}" method="post" {{ form_enctype(StatisticForm) }} novalidate >
		{{form_widget(StatisticForm.fast_date_selector)}}
		{{ form_rest(StatisticForm) }}
	</form>
{% endblock %}

{% block PageContent %}
	<div style="margin:10px 0 20px 0;text-align:center;">
		<a href="{{ path('wamclient_Statistic_ClientDaily') }}" class="btn btn-default btn-sm active">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Diarias
		</a>
		<a href="{{ path('wamclient_Statistic_ClientMonthly') }}" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Mensuales
		</a>
		<a  href="{{ path('wamclient_Statistic_ClientYearly') }}" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-stats"></span> Estadísticas Anuales
		</a> 
	</div>
	
	<div class="col-md-8" style="margin-bottom:30px;">
		<div id="NewVsBilled_BarChart"></div>
	</div>
	<div class="col-md-4" style="margin-bottom:30px;">
		<div id="NewVsBilled_PieChart"></div>
	</div>	
	
	
	<div class="col-md-12" style="margin-bottom:30px;">
		{% if (RecurrentClients|length>0) %}
		<div class="table-responsive">
			<table id="SelectTable" class="table table-bordered table-condensed table-hover tablesorter">
				<thead>
					<tr style="background:#FFF2DB; text-align:center; font-size:16px;">
						<td colspan="5">
							<strong>Clientes Frecuentes: {{FastDate}}</strong>
							<span class="btn btn-primary btn-xs" style="float:right;" onclick="selectElementContents( document.getElementById('SelectTable') );">
								<span class="glyphicon glyphicon-cloud-download"></span>
							</span>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ RecurrentTotal['bill_count']|number_format }}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['subtotal']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['iva']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['total']|number_format(2, '.', ',')}}</td>
					</tr>
					<tr>
						<td style="text-align:right;" ><strong>Promedios</strong></td>
						<td style="text-align:center;">{{ (RecurrentTotal['bill_count']/RecurrentTotal['count'])|number_format  }}</td>
						<td style="text-align:right;">$ {{ (RecurrentTotal['subtotal']/RecurrentTotal['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (RecurrentTotal['iva']/RecurrentTotal['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (RecurrentTotal['total']/RecurrentTotal['count'])|number_format(2, '.', ',')  }}</td>
					</tr>
					<tr style="background:#EAEAEA"><td colspan="5"></td></tr>
					<tr>
						<th>Nombre del Cliente</th>
						<th># Facturas</th>
						<th>Subtotal</th>
						<th>IVA</th>
						<th>Total</th>
					</tr>
				</thead>
				
				<tbody>
					{% for Client in RecurrentClients %}
						<tr>
							<td>
								<a href="{{ path('wamclient_Client_Edit', { 'id': Client['id'] }) }}" target="_blank">
									{{ Client['name']}}
								</a>
							</td>
							<td style="text-align:center;">{{ Client['bill_count']}}</td>
							<td style="text-align:right;">$ {{ Client['subtotal']|number_format(2, '.', ',') }}</td>
							<td style="text-align:right;">$ {{ Client['iva']|number_format(2, '.', ',') }}</td>
							<td style="text-align:right;">$ {{ Client['total']|number_format(2, '.', ',') }}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr style="background:#EAEAEA"><td colspan="5"></td></tr>
					<tr>
						<td style="text-align:right;" ><strong>Promedios</strong></td>
						<td style="text-align:center;">{{ (RecurrentTotal['bill_count']/RecurrentTotal['count'])|number_format  }}</td>
						<td style="text-align:right;">$ {{ (RecurrentTotal['subtotal']/RecurrentTotal['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (RecurrentTotal['iva']/RecurrentTotal['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (RecurrentTotal['total']/RecurrentTotal['count'])|number_format(2, '.', ',')  }}</td>
					</tr>
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ RecurrentTotal['bill_count']|number_format }}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['subtotal']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['iva']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['total']|number_format(2, '.', ',')}}</td>
					</tr>
				</tfoot>
		</div>
		{% else %}
			<div style="text-align:center;">No se encuentras clientes frecuentes en el periodo de tiempo seleccionado.</div>
		{% endif %}
	</div>	

    <script src="{{ asset('/highcharts/js/highcharts.js') }}"></script>
    <script src="{{ asset('/highcharts/js/modules/exporting.js') }}"></script>
    <script src="{{ asset('/website/js/jquery.tablesorter.js') }}"></script>
	
	<script>
		
		$(document).ready(function() {
		
			$(".tablesorter").tablesorter();
		
			$( '#StatisticClient_fast_date_selector' ).change(function() {
				$(this).closest('form').submit();
			});
			
			{% if (BilledClient_Bar|length>0) %}
				$('#NewVsBilled_BarChart').highcharts({
					chart: {
						type: 'column',
						backgroundColor: '#f5fcff',
						borderColor:'#CCC',
						borderWidth: 1,
						plotShadow: true,
						plotBorderWidth: 1
					},
					title: {
						text: 'Nuevos Clientes vs Facturas Emitidas'
					},
					subtitle: {
						text: '{{FastDate}}'
					},
					xAxis: {
						gridLineWidth: 1,
						lineColor: '#000',
						tickColor: '#000',
						categories: [
							{% for Day in BilledClient_Bar %}
								'{{Day['label']}}',
							{% endfor %}
						],
						labels: {
							step: {{ (BilledClient_Bar|length /5)|number_format }}
						}
					},
					yAxis: {
						minorTickInterval: 'auto',
						lineColor: '#000',
						lineWidth: 1,
						tickWidth: 1,
						tickColor: '#000',
						min: 0,
						allowDecimals: false,
						title: {
							text: '# Clientes'
						}
					},
					tooltip: {
						headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
						pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td><td style="padding:0"><b>{point.y} </b></td></tr>',
						footerFormat: '</table>',
						shared: true,
						useHTML: true
					},
					plotOptions: {
						column: {
							pointPadding: 0.2,
							borderWidth: 0
						}
					},
					series: [
						{
							name: 'Nuevos Clientes',
							data:  [
								{% for NewPerDay in NewClient_Bar %}
									{{NewPerDay['count']}},
								{% endfor %}
							]
						}, {
							name: 'Facturas Emitidas',
							data: [
								{% for BilledPerDay in BilledClient_Bar %}
									{{BilledPerDay['count']}},
								{% endfor %}
							]
						}
					]
				
				});
			{% endif %}
			
			{% if ( (BilledClient_Pie['client_count']>0) or  (NewClient_Pie['client_count']>0) ) %}
				$('#NewVsBilled_PieChart').highcharts({
					colors: ['#2f7ed8', '#263c53'],
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '# Clientes | Nuevos vs Frecuentes'
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							['Nuevos: <strong>{{ NewClient_Pie['client_count'] }}</strong>',   {{ NewClient_Pie['client_count'] }} ],
							['Frecuentes: <strong>{{ BilledClient_Pie['client_count'] }}</strong>',   {{ BilledClient_Pie['client_count'] }} ]
						]
					}]
				});
			{% endif %}
		});


		function selectElementContents(el) {
			var body = document.body, range, sel;
			if (document.createRange && window.getSelection) {
				range = document.createRange();
				sel = window.getSelection();
				sel.removeAllRanges();
				try {
					range.selectNodeContents(el);
					sel.addRange(range);
				} catch (e) {
					range.selectNode(el);
					sel.addRange(range);
				}
			} else if (body.createTextRange) {
				range = body.createTextRange();
				range.moveToElementText(el);
				range.select();
			}
		}
	</script>
	<style>
		.highcharts-button{display:none;}
		form select{width:auto;}
		.table-bordered > thead > tr > td {border-bottom-width: 1px; }
	</style>

{% endblock %}