{% extends '::WamclientAdmin.html.twig' %}


{% block SiteTitle %}Estadística de Gastos | Mensual{% endblock %}

{% block PageTitle %}Estadística de Gastos | Mensual{% endblock %}

{% block PageAction %}
	<form action="{{ path('wamclient_Statistic_CostMonthly') }}" method="post" {{ form_enctype(StatisticForm) }} novalidate >
		{{form_widget(StatisticForm.month_selector)}}
		{{ form_rest(StatisticForm) }}
	</form>
{% endblock %}

{% block PageContent %}
	<div style="margin:10px 0 20px 0;text-align:center;">
		<a href="{{ path('wamclient_Statistic_CostDaily') }}" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Diarias
		</a>
		<a href="{{ path('wamclient_Statistic_CostMonthly') }}" class="btn btn-default btn-sm active">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Mensuales
		</a>
		<a  href="{{ path('wamclient_Statistic_CostYearly') }}" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-stats"></span> Estadísticas Anuales
		</a> 
	</div>
		
	<div class="linechart col-md-12" style="margin-bottom:30px;">
		<div id="CostValues_LineChart"></div>
	</div>
	<div class="piechart col-md-6" style="margin-bottom:30px;">
		<div id="CostValues_PieChart"></div>
	</div>	
	<div class="piechart col-md-6" style="margin-bottom:30px;">
		<div id="CostTypes_PieChart"></div>
	</div>
	
	<div class="col-md-12">
		{% if (CostsByDay_Total['count']>0) %}
		<div class="table-responsive">
			<table id="SelectTable" class="table table-bordered table-condensed table-hover tablesorter">
				<thead>
					<tr style="background:#FFF2DB; text-align:center; font-size:16px;">
						<td colspan="5">
							<strong>Gastos Realizados: {{FastDate}}</strong>
							<span class="btn btn-primary btn-xs" style="float:right;" onclick="selectElementContents( document.getElementById('SelectTable') );">
								<span class="glyphicon glyphicon-cloud-download"></span>
							</span>
						</td>
					</tr>
					{% if (CostTypes_Pie|length>0) %}
						{% for CostType in CostTypes_Pie %}
							<tr>
								<td>{{CostType[0]}}</td>
								<td style="text-align:center;">{{CostType[1]}}</td>
								<td style="text-align:right;">$ {{CostType[2]|number_format(2, '.', ',')}}</td>
								<td style="text-align:right;">$ {{CostType[3]|number_format(2, '.', ',')}}</td>
								<td style="text-align:right;">$ {{CostType[4]|number_format(2, '.', ',')}}</td>
							</tr>
						{% endfor %}
						<tr style="background:#FFFEED"><td colspan="5"></td></tr>
					{% endif %}
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ CostsByDay_Total['cost_count']|number_format }}</td>
						<td style="text-align:right;">$ {{ CostsByDay_Total['subtotal']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ CostsByDay_Total['iva']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ CostsByDay_Total['total']|number_format(2, '.', ',')}}</td>
					</tr>
					<tr>
						<td style="text-align:right;" ><strong>Promedios</strong></td>
						<td style="text-align:center;">{{ (CostsByDay_Total['cost_count']/CostsByDay_Total['count'])|number_format  }}</td>
						<td style="text-align:right;">$ {{ (CostsByDay_Total['subtotal']/CostsByDay_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (CostsByDay_Total['iva']/CostsByDay_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (CostsByDay_Total['total']/CostsByDay_Total['count'])|number_format(2, '.', ',')  }}</td>
					</tr>
					<tr style="background:#EAEAEA"><td colspan="5"></td></tr>
					<tr>
						<th>Fecha</th>
						<th># de Gastos</th>
						<th>Subtotal</th>
						<th>IVA</th>
						<th>Total</th>
					</tr>
				</thead>
				
				<tbody>
					{% for Costs in CostsByDay_Table %}
						<tr>
							<td>{{ Costs['cost_date']}}</td>
							<td style="text-align:center;">{{ Costs['cost_count']}}</td>
							<td style="text-align:right;">$ {{ Costs['subtotal']}}</td>
							<td style="text-align:right;">$ {{ Costs['iva']}}</td>
							<td style="text-align:right;">$ {{ Costs['total']}}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr style="background:#EAEAEA"><td colspan="5"></td></tr>
					<tr>
						<td style="text-align:right;" ><strong>Promedios</strong></td>
						<td style="text-align:center;">{{ (CostsByDay_Total['cost_count']/CostsByDay_Total['count'])|number_format  }}</td>
						<td style="text-align:right;">$ {{ (CostsByDay_Total['subtotal']/CostsByDay_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (CostsByDay_Total['iva']/CostsByDay_Total['count'])|number_format(2, '.', ',')  }}</td>
						<td style="text-align:right;">$ {{ (CostsByDay_Total['total']/CostsByDay_Total['count'])|number_format(2, '.', ',')  }}</td>
					</tr>
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ CostsByDay_Total['cost_count']|number_format }}</td>
						<td style="text-align:right;">$ {{ CostsByDay_Total['subtotal']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ CostsByDay_Total['iva']|number_format(2, '.', ',')}}</td>
						<td style="text-align:right;">$ {{ CostsByDay_Total['total']|number_format(2, '.', ',')}}</td>
					</tr>
				</tfoot>
		</div>
		{% else %}
			<div style="text-align:center;">No se encuentran gastos realizados en el periodo de tiempo seleccionado.</div>
		{% endif %}
	</div>	
	

    <script src="{{ asset('/highcharts/js/highcharts.js') }}"></script>
    <script src="{{ asset('/highcharts/js/modules/exporting.js') }}"></script>
    <script src="{{ asset('/website/js/jquery.tablesorter.js') }}"></script>
	
	<script>
		
		$(document).ready(function() {
		
			$(".tablesorter").tablesorter({sortList: [[0,1]]});
		
			$( '#StatisticCost_month_selector' ).change(function() {
				$(this).closest('form').submit();
			});
			
			{% if (CostValues_Pie|length>0) %}
				$('#CostValues_PieChart').highcharts({
					colors: ['#1aadce', '#624289'],
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '<strong>Valores Gastos: $ {{CostValues_Pie['cost_total']}}</strong>'
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							['Gasto: <strong>$ {{CostValues_Pie['cost_subtotal']}}</strong>',   {{ (CostValues_Pie['cost_subtotal'] / CostValues_Pie['cost_total'] * 100)|number_format(2, '.', '') }} ],
							['IVA: <strong>$ {{CostValues_Pie['cost_iva']}}</strong>',   {{ (CostValues_Pie['cost_iva'] / CostValues_Pie['cost_total'] * 100)|number_format(2, '.', '') }} ],
						]
					}]
				});
			{% endif %}
			
			{% if (CostTypes_Pie|length>0) %}
				$('#CostTypes_PieChart').highcharts({
					colors: ['#BB4411', '#309C7E', '#1B7CB1'],
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '<strong>Gastos Realizados: {{CostValues_Pie['cost_count']}}</strong>'
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							{% for CostType in CostTypes_Pie %}
								['{{CostType[0]}}: <strong>{{CostType[1]}}</strong>',   {{ (CostType[1] / CostValues_Pie['cost_count'] * 100)|number_format(2, '.', '') }} ],						
							{% endfor %}
						]
					}]
				});
			{% endif %}
		
			{% if (CostValues_Line|length>0) %}
				$('#CostValues_LineChart').highcharts({
					colors: ['#bb4411','#1aadce', '#624289'],
					chart: {
						backgroundColor: '#f5fcff',
						borderColor:'#CCC',
						borderWidth: 1,
						plotShadow: true,
						plotBorderWidth: 1
					},
					title: {
						text: '<strong>Desglose de Valores Gastados</strong>',
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					xAxis: {
						gridLineWidth: 1,
						lineColor: '#000',
						tickColor: '#000',
						categories: [
							{% for CostDay in CostValues_Line %}
								'{{CostDay['label']}}',
							{% endfor %}
						],
						labels: {
							step: {{ (CostValues_Line|length /5)|number_format }}
						}
					},
					yAxis: {
						minorTickInterval: 'auto',
						lineColor: '#000',
						lineWidth: 1,
						tickWidth: 1,
						tickColor: '#000',
						min: 0,
						allowDecimals: true,
						labels: {
							formatter: function() {
								return '$ '+parseFloat(this.value).toFixed(2);
							}
						},
						title: {
							text: 'Valores Generados ($)'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						valueDecimals:2,
						valuePrefix: '$ ',
						shared: true,
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					},
					series: [
						{
							name: 'Total',
							data:  [
								{% for CostDay in CostValues_Line %}
									{{CostDay['total']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}, {
							name: 'Subtotal',
							data: [
								{% for CostDay in CostValues_Line %}
									{{CostDay['subtotal']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}, {
							name: 'IVA',
							data:  [
								{% for CostDay in CostValues_Line %}
									{{CostDay['iva']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}	
					]
				});	
			{% endif %}
		});

		function selectElementContents(el) {
			var body = document.body, range, sel;
			if (document.createRange && window.getSelection) {
				range = document.createRange();
				sel = window.getSelection();
				sel.removeAllRanges();
				try {
					range.selectNodeContents(el);
					sel.addRange(range);
				} catch (e) {
					range.selectNode(el);
					sel.addRange(range);
				}
			} else if (body.createTextRange) {
				range = body.createTextRange();
				range.moveToElementText(el);
				range.select();
			}
		}
	</script>

	<style>
		.highcharts-button{display:none;}
		form select{width:auto;}
		.table-bordered > thead > tr > td {border-bottom-width: 1px; }
	</style>
{% endblock %}