{% extends '::WamclientAdmin.html.twig' %}


{% block SiteTitle %}Facturas Vs Gastos | Mensual{% endblock %}

{% block PageTitle %}Facturas Vs Gastos | Mensual{% endblock %}

{% block PageAction %}
	<form action="{{ path('wamclient_Statistic_CostVsBill') }}" method="post" {{ form_enctype(StatisticForm) }} novalidate >
		{{form_widget(StatisticForm.month_selector)}}
		{{ form_rest(StatisticForm) }}
	</form>
{% endblock %}

{% block PageContent %}
		
	<div class="linechart col-md-12" style="margin-bottom:30px;">
		<div id="CostVsBill_LineChart"></div>
	</div>
	<div class="piechart col-md-6" style="margin-bottom:30px;">
		<div id="BillValues_PieChart"></div>
	</div>	
	<div class="piechart col-md-6" style="margin-bottom:30px;">
		<div id="CostValues_PieChart"></div>
	</div>	

    <script src="{{ asset('/highcharts/js/highcharts.js') }}"></script>
    <script src="{{ asset('/highcharts/js/modules/exporting.js') }}"></script>
    <script src="{{ asset('/website/js/jquery.tablesorter.js') }}"></script>
	
	<script>
		
		$(document).ready(function() {
		
			$(".tablesorter").tablesorter({sortList: [[0,1]]});
		
			$( '#StatisticCost_month_selector' ).change(function() {
				$(this).closest('form').submit();
			});
			
			{% if (CostValues_Line|length>0 and BillValues_Line|length>0) %}
				$('#CostVsBill_LineChart').highcharts({
					colors: ['#1aadce', '#bb4411'],
					chart: {
						backgroundColor: '#f5fcff',
						borderColor:'#CCC',
						borderWidth: 1,
						plotShadow: true,
						plotBorderWidth: 1
					},
					title: {
						text: '<strong>Desglose de Facturas Vs Gastos</strong>',
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					xAxis: {
						gridLineWidth: 1,
						lineColor: '#000',
						tickColor: '#000',
						categories: [
							{% for CostDay in CostValues_Line %}
								'{{CostDay['label']}}',
							{% endfor %}
						],
						labels: {
							step: {{ (CostValues_Line|length /5)|number_format }}
						}
					},
					yAxis: {
						minorTickInterval: 'auto',
						lineColor: '#000',
						lineWidth: 1,
						tickWidth: 1,
						tickColor: '#000',
						min: 0,
						allowDecimals: true,
						labels: {
							formatter: function() {
								return '$ '+parseFloat(this.value).toFixed(2);
							}
						},
						title: {
							text: 'Valores Generados ($)'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						valueDecimals:2,
						valuePrefix: '$ ',
						shared: true,
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					},
					series: [
						{
							name: 'Facturas',
							data:  [
								{% for BillDay in BillValues_Line %}
									{{BillDay['total']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}, {
							name: 'Gastos',
							data: [
								{% for CostDay in CostValues_Line %}
									{{CostDay['total']|number_format(2, '.', '')}},
								{% endfor %}
							]
						}	
					]
				});	
			{% endif %}
			
		
			{% if (BillValues_Pie|length>0) %}
				$('#BillValues_PieChart').highcharts({
					colors: ['#1aadce', '#624289'],
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '<strong>Valores Facturados: $ {{BillValues_Pie['bill_total']}}</strong>'
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							['Ganancia: <strong>$ {{BillValues_Pie['bill_subtotal']}}</strong>',   {{ (BillValues_Pie['bill_subtotal'] / BillValues_Pie['bill_total'] * 100)|number_format(2, '.', '') }} ],
							['IVA: <strong>$ {{BillValues_Pie['bill_iva']}}</strong>',   {{ (BillValues_Pie['bill_iva'] / BillValues_Pie['bill_total'] * 100)|number_format(2, '.', '') }} ],
						]
					}]
				});
			{% endif %}
			
			{% if (CostValues_Pie|length>0) %}
				$('#CostValues_PieChart').highcharts({
					colors: ['#bb4411', '#624289'],
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '<strong>Valores Gastados: $ {{CostValues_Pie['cost_total']}}</strong>'
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							['Gasto: <strong>$ {{CostValues_Pie['cost_subtotal']}}</strong>',   {{ (CostValues_Pie['cost_subtotal'] / CostValues_Pie['cost_total'] * 100)|number_format(2, '.', '') }} ],
							['IVA: <strong>$ {{CostValues_Pie['cost_iva']}}</strong>',   {{ (CostValues_Pie['cost_iva'] / CostValues_Pie['cost_total'] * 100)|number_format(2, '.', '') }} ],
						]
					}]
				});
			{% endif %}
		});

		function selectElementContents(el) {
			var body = document.body, range, sel;
			if (document.createRange && window.getSelection) {
				range = document.createRange();
				sel = window.getSelection();
				sel.removeAllRanges();
				try {
					range.selectNodeContents(el);
					sel.addRange(range);
				} catch (e) {
					range.selectNode(el);
					sel.addRange(range);
				}
			} else if (body.createTextRange) {
				range = body.createTextRange();
				range.moveToElementText(el);
				range.select();
			}
		}
	</script>

	<style>
		.highcharts-button{display:none;}
		form select{width:auto;}
		.table-bordered > thead > tr > td {border-bottom-width: 1px; }
	</style>
{% endblock %}