{% extends '::WamclientAdmin.html.twig' %}


{% block SiteTitle %}Estadística de Servicios | Anual{% endblock %}

{% block PageTitle %}Estadística de Servicios | Anual{% endblock %}

{% block PageAction %}
	<form action="{{ path('wamclient_Statistic_ServiceYearly') }}" method="post" {{ form_enctype(StatisticForm) }} novalidate >
		{{form_widget(StatisticForm.year_selector)}}
		{{ form_rest(StatisticForm) }}
	</form>
{% endblock %}

{% block PageContent %}
	<div style="margin:10px 0 20px 0;text-align:center;">
		<a href="{{ path('wamclient_Statistic_ServiceDaily') }}" class="btn btn-default btn-sm ">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Diarias
		</a>
		<a href="{{ path('wamclient_Statistic_ServiceMonthly') }}" class="btn btn-default btn-sm ">
			<span class="glyphicon glyphicon-stats"></span>  Estadísticas Mensuales
		</a>
		<a  href="{{ path('wamclient_Statistic_ServiceYearly') }}" class="btn btn-default btn-sm active">
			<span class="glyphicon glyphicon-stats"></span> Estadísticas Anuales
		</a> 
	</div>
	
	<div class="col-md-12" style="margin-bottom:30px;">
		<div id="Service_PieChart"></div>
	</div>	
		
	<div class="col-md-12" style="margin-bottom:30px;">
		{% if (RecurrentServices|length>0) %}
		<div class="table-responsive">
			<table id="SelectTable" class="table table-bordered table-condensed table-hover tablesorter">
				<thead>
					<tr style="background:#FFF2DB; text-align:center; font-size:16px;">
						<td colspan="3">
							<strong>Servicios Frecuentes: {{FastDate}}</strong>
							<span class="btn btn-primary btn-xs" style="float:right;" onclick="selectElementContents( document.getElementById('SelectTable') );">
								<span class="glyphicon glyphicon-cloud-download"></span>
							</span>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ RecurrentTotal['quantity']|number_format }}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['total']|number_format(2, '.', ',')}}</td>
					</tr>
					<tr style="background:#EAEAEA"><td colspan="3"></td></tr>
					<tr>
						<th>Nombre del Servicio</th>
						<th>Cantidad</th>
						<th>Total</th>
					</tr>
				</thead>
				
				<tbody>
					{% for Service in RecurrentServices %}
						<tr>
							<td>{{ Service['name']}}</td>
							<td style="text-align:center;">{{ Service['quantity']}}</td>
							<td style="text-align:right;">$ {{ Service['total']|number_format(2, '.', ',') }}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr style="background:#EAEAEA"><td colspan="3"></td></tr>
					<tr>
						<td style="text-align:right;"><strong>Totales</strong></td>
						<td style="text-align:center;">{{ RecurrentTotal['quantity']|number_format }}</td>
						<td style="text-align:right;">$ {{ RecurrentTotal['total']|number_format(2, '.', ',')}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
		{% else %}
			<div style="text-align:center;">No se encuentras servicios frecuentes en el periodo de tiempo seleccionado.</div>
		{% endif %}
	</div>	

    <script src="{{ asset('/highcharts/js/highcharts.js') }}"></script>
    <script src="{{ asset('/highcharts/js/modules/exporting.js') }}"></script>
    <script src="{{ asset('/website/js/jquery.tablesorter.js') }}"></script>
	
	<script>
		
		$(document).ready(function() {
		
			$(".tablesorter").tablesorter();
		
			$( '#StatisticService_month_selector' ).change(function() {
				$(this).closest('form').submit();
			});
			
			
			{% if (RecurrentServices|length>0) %}
				$('#Service_PieChart').highcharts({
					chart: {
						backgroundColor: '#FFFDF2',
						borderColor:'#CCC',
						borderWidth: 1,
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: '<strong>Servicios Facturados</strong>'
					},
					subtitle: {
						text: '{{FastDate}}',
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								format: '[{point.name}]: <b>{point.y}</b>'
							},
						}
					},
					series: [{
						type: 'pie',
						name: 'Porcentaje',
						data: [
							{% for Service in RecurrentServices %}
								['{{Service['name']}}',   {{Service['quantity']}} ],						
							{% endfor %}
						]
					}]
				});
			{% endif %}
		});


		function selectElementContents(el) {
			var body = document.body, range, sel;
			if (document.createRange && window.getSelection) {
				range = document.createRange();
				sel = window.getSelection();
				sel.removeAllRanges();
				try {
					range.selectNodeContents(el);
					sel.addRange(range);
				} catch (e) {
					range.selectNode(el);
					sel.addRange(range);
				}
			} else if (body.createTextRange) {
				range = body.createTextRange();
				range.moveToElementText(el);
				range.select();
			}
		}
	</script>
	<style>
		.highcharts-button{display:none;}
		form select{width:auto;}
		.table-bordered > thead > tr > td {border-bottom-width: 1px; }
	</style>

{% endblock %}