{% extends '::WamclientAdmin.html.twig' %}

{% block SiteTitle %}Listado de Pagos{% endblock %}

{% block PageTitle %}Listado de Pagos{% endblock %}

{% block PageAction %}
{% endblock %}

{% block PageContent %}

	<div class="col-md-9">
		{% if Repository != null %}
		
			<div class="table-responsive">
			<table class="table table-bordered table-condensed table-hover">
			
				<thead>
					<tr>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'created_at' }) }}">Fecha</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'lastname' }) }}">Nombre</a></th>
						<th>Descripción</th>
						<th>Ingreso</th>
						<th>Egreso</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{% for Item in Repository %}
						<tr {% if Item.Type == 2 %}class="danger"{% endif %} {% if Item.Type == 3 %}class="info"{% endif %} {% if Item.Type == 4 %}class="warning"{% endif %} title="Creado por: {{ ClientUsers[Item.WamUser] }}" >
							<td>{{ Item.CreatedAt|date('M d, Y | H:i') }}</td>
							<td>
								{% if Item.Client.Id > 1 %}	
									<a href="{{ path('wamclient_Client_Edit', { 'id': Item.Client.Id }) }}" target="_blank">
										{{ Item.Client.Lastname }}, {{ Item.Client.Name }}
									</a>
								{% else %}
									Consumidor Final
								{% endif %}
							</td>
							<td>{{ Item.Description|raw }}</td>
							<td>{{ Item.Income }}</td>
							<td>{{ Item.Outcome }}</td>
							<td>
								{% if Item.Total < 0 %}
									<span style="color:#FD0000;">{{ Item.Total }}</span>
								{% elseif Item.Total > 0 %}
									<span style="color:#2DA200;">{{ Item.Total }}</span>
								{% else %}								
									{{ Item.Total }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			{% include '::_pager.html.twig' with { ListPager: ListPager, ListUrl: path('wamclient_Payment_List') } %}
		{% else %}	
			No se han encontrado resultados para mostrar.
		{% endif %}
	</div>
	
	<div class="col-md-3">
		{% include '::_filter.html.twig' with  { FilterForm: FilterForm, FilterSession: FilterSession, FilterPath: 'wamclient_Payment_List' } %}
	</div>
	
	<script>
		
		$(document).ready(function() {
			$( '.datepicker' ).datepicker({
				dateFormat: 'yy-mm-dd',
				firstDay: 1,
				dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ] 
			});
		});

	</script>
{% endblock %}