{% extends '::WamadminAdmin.html.twig' %}

{% block SiteTitle %}Listado de Clientes{% endblock %}

{% block PageTitle %}Listado de Clientes{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamadmin_ClientUser_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Clientes
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-9">
		{% if Repository != null %}
			<div class="table-responsive">
			<table class="table table-bordered table-condensed table-hover">
			
				<thead>
					<tr>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'name' }) }}">Nombres</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'lastname' }) }}">Apellidos</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'email' }) }}">Email</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'username' }) }}">Usuario</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'groups' }) }}">Grupos</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'is_active' }) }}">Estado</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'db_connect' }) }}">Database</a></th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for Item in Repository %}
						<tr>
							<td>{{ Item.Name }}</td>
							<td>{{ Item.Lastname }}</td>
							<td>{{ Item.Email }}</td>
							<td>{{ Item.Username }}</td>
							<td>
								{% for Group in Item.Groups %}
									<div>{{Group.Name}}</div>
								{% endfor %}
							</td>
							<td>
								{% if Item.IsActive == 1 %}
									<span class="glyphicon glyphicon-ok"></span>
								{% endif %}
							</td>
							<td>{{ Item.DbConnect }}</td>
							<td>
								<a class="btn btn-info btn-sm" href="{{ path('wamadmin_ClientUser_Edit', { 'id': Item.Id }) }}" title="Editar" >
									<span class="glyphicon glyphicon-edit"></span>
								</a> 
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			
			{% include '::_pager.html.twig' with { ListPager: ListPager, ListUrl: path('wamadmin_ClientUser_List') } %}
		{% else %}	
			No se han encontrado resultados para mostrar.
		{% endif %}
	</div>
	
	<div class="col-md-3">
		{% include '::_filter.html.twig' with  { FilterForm: FilterForm, FilterSession: FilterSession, FilterPath: 'wamadmin_ClientUser_List' } %}
	</div>
{% endblock %}