{% extends '::WamadminAdmin.html.twig' %}

{% block SiteTitle %}Crear Cliente{% endblock %}

{% block PageTitle %}Crear Cliente{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamadmin_ClientUser_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamadmin_ClientUser_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Cliente
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<form action="{{ path('wamadmin_ClientUser_New') }}" method="post" {{ form_enctype(form) }} novalidate >
		
			<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Nombres *</th>
					<td>{{form_widget(form.name)}}</td>
				</tr>
				<tr>
					<th>Apellidos *</th>
					<td>{{form_widget(form.lastname)}}</td>
				</tr>
				<tr>
					<th>Email *</th>
					<td>{{form_widget(form.email)}}</td>
				</tr>
				<tr>
					<th>Nombre de Usuario *</th>
					<td>{{form_widget(form.username) }}</td>
				</tr>
				<tr>
					<th>Clave del Usuario *</th>
					<td>{{form_widget(form.password.first) }}</td>
				</tr>
				<tr>
					<th>Repita la Clave *</th>
					<td>{{form_widget(form.password.second) }}</td>
				</tr>
				<tr>
					<th>Database *</th>
					<td>{{form_widget(form.db_connect) }}</td>
				</tr>
				<tr>
					<th>Grupo *</th>
					<td>{{form_widget(form.groups) }}</td>
				</tr>
				<tr>
					<th>Teléfono</th>
					<td>{{form_widget(form.phone) }}</td>
				</tr>
				<tr>
					<th>Celular</th>
					<td>{{form_widget(form.celphone) }}</td>
				</tr>
				<tr>
					<th>Esta activo?</th>
					<td>{{form_widget(form.is_active)}}</td>
				</tr>
			</table>
			</div>
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
			{{ form_rest(form) }}
			</form>
	</div>

{% endblock %}