{% extends '::WamclientAssistant.html.twig' %}


{% block SiteTitle %}Editar Cliente{% endblock %}

{% block PageTitle %}Editar Cliente [{{Repository.Lastname}}, {{Repository.Name}}]  {% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_assistant_Client_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_assistant_Client_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Cliente
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<form action="{{ path('wamclient_assistant_Client_Edit', {id: Repository.Id}) }}" method="post" {{ form_enctype(form) }} novalidate>

			<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th><span class="Recommended" title="Recomendado">Cédula / RUC</span></th>
					<td>{{form_widget(form.ci)}}</td>
				</tr>
				<tr>
					<th><span class="Required" title="Requerido">Nombres / Propietario</span></th>
					<td>{{form_widget(form.name)}}</td>
				</tr>
				<tr>
					<th><span class="Required">Apellidos / Razon Social</span></th>
					<td>{{form_widget(form.lastname)}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{form_widget(form.email) }}</td>
				</tr>
				<tr>
					<th>Teléfono</th>
					<td>{{form_widget(form.phone) }}</td>
				</tr>
				<tr>
					<th>Celular</th>
					<td>{{form_widget(form.celphone) }}</td>
				</tr>
				<tr>
					<th colspan="2">Dirección</th>
				</tr>
				<tr>
					<td colspan="2">{{form_widget(form.address) }}</td>
				</tr>
			</table>
			</div>
			
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
			{{ form_rest(form) }}
		</form>
	</div>
	
	<div class="col-md-8">
		<ul class="nav nav-tabs" id="BillTabs">
			<li class="active"><a href="#Bills" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Facturas</a></li>
			<li><a href="#Payments" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span> Pagos</a></li>
			<li><a href="#NewPayment" data-toggle="tab"><span class="glyphicon glyphicon-usd"></span> Registrar Pagos</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="Bills"><!--START BILLS TABCONTENT-->
				{% if Bills != null %}
					<div class="table-responsive">
						<table class="table table-bordered table-condensed table-hover">						
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha</th>
									<th>Tarifa</th>
									<th>Subtotal</th>
									<th>IVA</th>
									<th>Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for Item in Bills %}
									<tr title="Creado por: {{ ClientUsers[Item.WamUser] }}" class="{% if Item.Paid < Item.Total %}warning{% endif %} {% if Item.Canceled == 2 %}danger{% endif %}" >
										<td>
											<span {% if Item.IdNumber %}title="Factura #{{ Item.IdNumber }}" style="cursor:pointer;font-weight: bold;color:#007DC4;text-decoration:underline"{% endif %}>
												{{ Item.Id }}
											</span>
										</td>
										<td>
											<span title="Creado: {{Item.CreatedAt|date('M d, Y - H:i:s')}}" style="cursor:pointer;">
												{{ Item.BillDate|date('M d, Y') }}
											</span>
										</td>
										<td style="text-align:center;">
											{% if Item.HasIva == 1 %}
												<span class="glyphicon glyphicon-arrow-up"></span> 12% 
											{% elseif Item.HasIva == 2 %}	
												<span class="glyphicon glyphicon-arrow-down"></span> 12%
											{% elseif Item.HasIva == 3 %}	
												0%
											{% endif %}
										</td>	
										<td style="text-align:right;">$ {{ Item.Subtotal }}</td>		
										<td style="text-align:right;">
											{% if Item.HasIva == 3 %}	
												N.A.
											{% else %}	
												$ {{ Item.iva }}
											{% endif %}
										</td>		
										<td style="text-align:right;">$ {{ Item.Total }}</td>	
										<td style="text-align:center;">
											<a class="btn btn-info btn-sm" href="{{ path('wamclient_assistant_Bill_View', { 'id': Item.Id }) }}" title="Ver" target="_blank">
												<span class="glyphicon glyphicon-search"></span>
											</a> 
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}	
					No se han encontrado facturas emitidas.
				{% endif %}
			</div><!-- END BILLS TABCONTENT-->
			
			<div class="tab-pane" id="Payments"><!-- START PAYMENTS TABCONTENT-->
				{% if Payments != null %}
					<div class="table-responsive">
						<table class="table table-bordered table-condensed table-hover">						
							<thead>
								<tr>
									<th>Fecha</th>
									<th>Descripción</th>
									<th>Ingreso</th>
									<th>Egreso</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								{% for Item in Payments %}
									<tr {% if Item.Type == 2 %}class="danger"{% endif %} {% if Item.Type == 3 %}class="info"{% endif %} {% if Item.Type == 4 %}class="warning"{% endif %} title="Creado por: {{ ClientUsers[Item.WamUser] }}" >
										<td>{{ Item.CreatedAt|date('M d, Y | H:i') }}</td>
										<td>{{ Item.Description|raw }}</td>
										<td>{{ Item.Income }}</td>
										<td>{{ Item.Outcome }}</td>
										<td>
											{% if Item.Total < 0 %}
												<span style="color:#FD0000;">{{ Item.Total }}</span>
											{% elseif Item.Total > 0 %}
												<span style="color:#2DA200;">{{ Item.Total }}</span>
											{% else %}								
												{{ Item.Total }}
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}	
					No se han encontrado pagos realizados.
				{% endif %}
			</div><!-- END PAYMENTS TABCONTENT-->
			
			<div class="tab-pane" id="NewPayment"><!-- START PAYMENTSIN TABCONTENT-->
					{% if Repository.Account < 0 %}
						<div class="alert alert-danger" style="text-align:center;border: 1px solid #ddd;">
							El cliente debe cancelar un total de <strong>$ {{ (Repository.Account*-1)|number_format(2, '.', ',') }}</strong>
						</div>
					{% elseif Repository.Account == 0 %}
						<div class="alert alert-info" style="text-align:center;border: 1px solid #ddd;">
							El cliente <strong>no tiene deudas</strong> pendientes al momento.
						</div>
					{% elseif Repository.Account > 0 %}
						<div class="alert alert-success" style="text-align:center;border: 1px solid #ddd;">
							El cliente tiene a su favor <strong>$ {{ (Repository.Account)|number_format(2, '.', ',') }}</strong>
						</div>
					{% endif %}					
					
					<div class="PaymentHelper"><!--START | PAYMENT HELPER BUTTONS-->
						{% if Repository.Account < 0 %}
							<div class="btn btn-default TotalHelper" data-total="{{ (Repository.Account*-1)|number_format(2, '.', ',') }}">
								<p>Cancelar la totalidad</p>
								<span style="font-size:25px;">$ {{ (Repository.Account*-1)|number_format(2, '.', ',') }}</span>
							</div>
						{% endif %}	
						<div class="btn btn-default PaidHelper">
							<p>Realizar un abono</p>
							$ <input type="text" class="PaidInput"/>
							<span class="btn btn-success btn-sm PaymentSubmit"><span class="glyphicon glyphicon-cloud-upload"></span> </span>
						</div>
						
						<form action="{{ path('wamclient_assistant_Payment_IncomeClient',{'client_id': Repository.Id}) }}" method="post" novalidate class="PaymentInForm" style="display:none;">
							{{form_widget(PaymentInForm.bill)}}
							{{form_widget(PaymentInForm.client, {value : Repository.Id}) }}
							{{form_widget(PaymentInForm.income)}}
							{{form_widget(PaymentInForm.description, {value : '<p>Se cancela valores adeudados</p>'})}}
							{{ form_rest(PaymentInForm) }}
						</form>
					</div><!--END | PAYMENT HELPER BUTTONS-->
					<div class="PaymentHelper"><!--START | PAYMENT HELPER BUTTONS-->
						<div class="btn btn-default DebtHelper">
							<p>Registrar deuda por</p>
							<input type="text" class="DebtInfoInput"><br />
							$ <input type="text" class="DebtValueInput"/>
							<span class="btn btn-danger btn-sm PaymentOutSubmit"><span class="glyphicon glyphicon-cloud-upload"></span> </span>
						</div>
						<form action="{{ path('wamclient_assistant_Payment_OutcomeClient',{'client_id': Repository.Id}) }}" method="post" novalidate class="PaymentOutForm" style="display:none;">
							{{form_widget(PaymentOutForm.client, {value : Repository.Id})}}</td>
							{{form_widget(PaymentOutForm.outcome)}}</td>
							{{form_widget(PaymentOutForm.description, {value : '<p>Se ingresa valores adeudados</p>'})}}</td>
							{{ form_rest(PaymentOutForm) }}
						</form>
					</div><!--END | PAYMENT HELPER BUTTONS-->
			</div><!-- END PAYMENTS IN TABCONTENT-->
		</div>
	</div>
	
	<script>
		
		$(document).ready(function() {
		
			$( '.AjaxClients' ).autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "{{ path('global_AjaxClients') }}",
						data: {
							term: request.term,
							db: "{{ db }}",
						},
						dataType: "json",
						success: function(data) {
							response($.map(JSON.parse(data), function( item ) {
								return { label: item.ci+' - '+item.name, value: item.name, ci: item.ci, id: item.id	}
							}));
						},
					})
				},
				select: function( event, ui ) {
					return false;
				}
			});
			
			$('.TotalHelper').click(function (e) {
				e.preventDefault();
				var r=confirm('¿Está seguro de realizar el pago total de $ '+$(this).data('total')+'?');	
				if (r==true) 	{
					$('#Payment_income').val($(this).data('total'));
					$('.TotalHelper, .PaidHelper, .DebtHelper').attr('disabled', 'disabled');
					$('.PaymentInForm').submit();
				}
			});
			
			$('.PaymentSubmit').click(function (e) {
				$('#Payment_income').val('');
				e.preventDefault();
				var r=confirm('¿Está seguro de realizar un abono de $ '+$('.PaidInput').val()+'?');	
				if (r==true) 	{
					$('#Payment_income').val($('.PaidInput').val());
					$('.TotalHelper, .PaidHelper, .DebtHelper').attr('disabled', 'disabled');
					$('.PaymentInForm').submit();
				}
			});
			
			$('.PaymentOutSubmit').click(function (e) {
				$('#Payment_outcome').val('');
				e.preventDefault();
				var r=confirm('¿Está seguro de ingresar una deuda de $ '+$('.DebtValueInput').val()+'?');	
				if (r==true) 	{
					$('#Payment_outcome').val($('.DebtValueInput').val());
					$('.PaymentOutForm #Payment_description').val($('.DebtInfoInput').val());
					$('.TotalHelper, .PaidHelper, .DebtHelper').attr('disabled', 'disabled');
					$('.PaymentOutForm').submit();
				}
			});
			
			$('#BillTabs a').click(function (e) {
				e.preventDefault()
				$(this).tab('show')
			});
			
		});

	</script>
	<style>
		.tab-content{padding: 15px;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;border-left: 1px solid #CCC;}	
		
		.PaymentHelper{text-align:center;}
		.PaymentHelper .TotalHelper, .PaymentHelper .PaidHelper{width:170px;margin:10px 10px 30px 10px;background:#F9FFF9;}
		.PaymentHelper .TotalHelper:hover, .PaymentHelper .PaidHelper:hover{background:#F1FFF0;}
		.PaymentHelper .DebtHelper{background:#FFF5F5;}
		.PaymentHelper .DebtHelper:hover{background:#f2dede;}
		.PaymentHelper .PaidInput, .PaymentHelper .DebtValueInput{width: 67px;}
	</style>
{% endblock %}