{% extends '::'~GroupLayout %}


{% block SiteTitle %}Cambiar Clave{% endblock %}
{% block PageTitle %}Cambiar Clave{% endblock %}

{% block PageAction %}
{% endblock %}

{% block PageContent %}

	<div class="col-md-5">
		<form action="{{ path('wamclient_profile_changepassword') }}" method="post" {{ form_enctype(form) }} novalidate>
		
			<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Clave Actual</th>
					<td>{{form_widget(form.password)}}</td>
				</tr>
				<tr>
					<th>Nueva Clave</th>
					<td>{{form_widget(form.new_password.first)}}</td>
				</tr>
				<tr>
					<th>Repita la Clave</th>
					<td>{{form_widget(form.new_password.second)}}</td>
				</tr>
			</table>
			</div>
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
			
			{{ form_rest(form) }}
		</form>
	</div>

{% endblock %}