{% extends '::seguridad.html.twig' %}

{% block PageContent %}

	<div class="RecoverContainer">
		<img src="{{ asset('/website/images/LoginLogo.png') }}" class="form-signin-heading" />
		
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
		
		{% if RecoverType == 'Show_DecodingError' %}	
			<div  class="form-email">
				Ha ocurrido un error. Por favor inténtelo de nuevo dando <a href="{{ path('global_recoverpassword') }}">click aquí</a>.
			</div>	
		{% elseif RecoverType == 'Show_NotEnable' %}	
			<div  class="form-email">
				Este link de recuperación de clave ya caducó. Por favor inténtelo de nuevo dando <a href="{{ path('global_recoverpassword') }}">click aquí</a>.
			</div>		
		{% elseif RecoverType == 'Show_Enable' %}	
			<form action="{{ path('global_setpassword') }}?token={{EncodeToken}}" method="post" class="form-email" novalidate >

				<div class="PageAlerts"></div>
				
				<strong class="input-block-level">Escriba la nueva clave</strong>
				{{form_widget(form.new_password.first)}}
				
				<strong class="input-block-level">Repita la nueva clave</strong>
				{{form_widget(form.new_password.second)}}
				<br/>
				<input class="btn" type="submit" value="Enviar" />
				{{ form_rest(form) }}
			</form>
		{% endif %}
		
	</div>
	
{% endblock %}


{% block stylesheets %}
	{{parent()}}
	<style type="text/css">
		body {background:#FAFAFA;   }
		.RecoverContainer{ width: 325px;  margin: 0 auto 20px; margin-top:100px;  }
		.RecoverContainer img{ margin: 8px auto; display:block; }
		
		.form-email { 
			text-align: justify;
			width: 260px;   padding: 19px 29px 29px;    background-color: #fff;
			border: 1px solid #e5e5e5; -webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;
			-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
		}
		.form-email input[type="text"], .form-email input[type="email"], .form-email input[type="password"]  { width:230px; font-size: 16px;  height: auto;   margin-bottom: 15px;  padding: 7px 9px;  }
	</style>
{% endblock %}
