{% extends '::seguridad.html.twig' %}

{% block PageContent %}

	<div class="span12">
		{% if Repository.groups.count %}
			<script type="text/javascript">
				window.location = '{{ path( 'wamclient_'~Repository.Groups|first.role|lower[12:]~'_home' ) }}';
			</script>
		{% else %}
				<img class="nogroup" src="{{ asset('/website/images/nogroup.jpg') }}" />
				<a href="{{ path('logout') }}" class="btn btn_logout">Volver al Login</a>
			
			
			<style>
				.nogroup{display:block; margin:0 auto; margin-top:100px}
				.btn_logout{display:block; margin:0 auto; width:150px;}
			</style>
		{% endif %}
	</div>
			
		
{% endblock %}
