{% extends '::'~GroupLayout %}


{% block SiteTitle %}Editar Perfil{% endblock %}

{% block PageTitle %}
	Editar Perfil [{{Repository.Name}} {{Repository.Lastname}}]
{% endblock %}

{% block PageAction %}
{% endblock %}

{% block PageContent %}

	<div class="col-md-5">
		<form action="{{ path('wamadmin_profile_edit') }}" method="post" {{ form_enctype(form) }} novalidate >
		
			<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Nombres</th>
					<td>{{form_widget(form.name)}}</td>
				</tr>
				<tr>
					<th>Apellidos</th>
					<td>{{form_widget(form.lastname)}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{form_widget(form.email)}}</td>
				</tr>
				<tr>
					<th>Nombre de Usuario</th>
					<td>{{form_widget(form.username) }}</td>
				</tr>
				<tr>
					<th>Teléfono</th>
					<td>{{form_widget(form.phone) }}</td>
				</tr>
				<tr>
					<th>Celular</th>
					<td>{{form_widget(form.celphone) }}</td>
				</tr>
			</table>
			</div>
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
			
			{{ form_rest(form) }}
		</form>
	</div>

{% endblock %}