{% extends '::seguridad.html.twig' %}

{% block PageContent %}
	
	<div class="LoginContainer">
		<img src="{{ asset('/website/images/LoginLogo.png') }}" class="form-signin-heading" />
		
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% if ErrorMessage %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ ErrorMessage }}
			</div>
		{% endif %}
		
		<form action="{{ path('wamclient_login_check') }}" method="post" class="form-signin" novalidate >
			
			<strong class="input-block-level">Nombre de Usuario</strong>
			<input class="input-block-level" type="text" id="username" name="_username" placeholder="Escriba su usuario" />
			<strong class="input-block-level">Clave de Usuario</strong>
			<input class="input-block-level" type="password" id="password" name="_password" placeholder="Escriba su clave" />
			
			<button class="btn btn-info btn-sm" type="submit"><span class="glyphicon glyphicon-share"></span> Ingresar</button>
			
		</form>
		<div class="WebAndMkt">
			<a href="http://webandmkt.com/" target="_blank">
				<span>Desarrollado por</span>
				<img src="{{ asset('/website/images/WamLogo.png') }}">
			</a>
		</div>
	</div>

{% endblock %}


{% block stylesheets %}
	{{parent()}}
{% endblock %}
