{% extends '::WamclientAdmin.html.twig' %}

{% block SiteTitle %}Listado de Clientes{% endblock %}

{% block PageTitle %}Listado de Clientes{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_Client_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Cliente
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-9">
		{% if Repository != null %}
			<div class="table-responsive">
				<table class="table table-bordered table-condensed table-hover">
				
					<thead>
						<tr>
							<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'ci' }) }}">Cédula</a></th>
							<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'lastname' }) }}">Nombre</a></th>
							<th><a href="{{ path('global_orderby', { 'NameSession': OrderSession, 'Row': 'email' }) }}">Email</a></th>
							<th>Teléfono</th>
							<th>Celular</th>
							<th>Cuenta</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for Item in Repository %}
							<tr>
								<td>{{ Item.Ci }}</td>
								<td>{{ Item.Lastname }}, {{ Item.Name }}</td>
								<td>{{ Item.Email }}</td>
								<td>{{ Item.Phone }}</td>
								<td>{{ Item.Celphone }}</td>
								<td>
									{% if Item.Account < 0 %}
										<span style="color:#FD0000;">{{ Item.Account }}</span>
									{% elseif Item.Account > 0 %}
										<span style="color:#2DA200;">{{ Item.Account }}</span>
									{% else %}								
										{{ Item.Account }}
									{% endif %}</td>
								<td>
									<a class="btn btn-info btn-sm" href="{{ path('wamclient_Client_Edit', { 'id': Item.Id }) }}" title="Editar" >
										<span class="glyphicon glyphicon-edit"></span>
									</a> 
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			{% include '::_pager.html.twig' with { ListPager: ListPager, ListUrl: path('wamclient_Client_List') } %}
		{% else %}	
			No se han encontrado resultados para mostrar.
		{% endif %}
	</div>
	
	<div class="col-md-3">
		{% include '::_filter.html.twig' with  { FilterForm: FilterForm, FilterSession: FilterSession, FilterPath: 'wamclient_Client_List' } %}
	</div>
{% endblock %}