{% extends '::WamclientAdmin.html.twig' %}

{% block SiteTitle %}Crear Cliente{% endblock %}

{% block PageTitle %}Crear Cliente{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_Client_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_Client_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Cliente
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<form action="{{ path('wamclient_Client_New') }}" method="post" {{ form_enctype(form) }} novalidate >
		
			<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th><span class="Recommended" title="Recomendado">Cédula / RUC</span></th>
					<td>{{form_widget(form.ci)}}</td>
				</tr>
				<tr>
					<th><span class="Required" title="Requerido">Nombres / Propietario</span></th>
					<td>{{form_widget(form.name)}}</td>
				</tr>
				<tr>
					<th><span class="Required" title="Requerido">Apellidos / Razon Social</span></th>
					<td>{{form_widget(form.lastname)}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{form_widget(form.email) }}</td>
				</tr>
				<tr>
					<th>Teléfono</th>
					<td>{{form_widget(form.phone) }}</td>
				</tr>
				<tr>
					<th>Celular</th>
					<td>{{form_widget(form.celphone) }}</td>
				</tr>
				<tr>
					<th colspan="2">Dirección</th>
				</tr>
				<tr>
					<td colspan="2">{{form_widget(form.address) }}</td>
				</tr>
			</table>
			</div>
			
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
			{{ form_rest(form) }}
		</form>
	</div>
	
	<script>
		
		$(document).ready(function() {
			$( '.AjaxClients' ).autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "{{ path('global_AjaxClients') }}",
						data: {
							term: request.term,
							db: "{{ db }}",
						},
						dataType: "json",
						success: function(data) {
							response($.map(JSON.parse(data), function( item ) {
								return { label: item.ci+' - '+item.name, value: item.name, ci: item.ci, id: item.id	}
							}));
						},
					})
				},
				select: function( event, ui ) {
					return false;
				}
			});
		});
	</script>
{% endblock %}