{% extends '::WamclientAdmin.html.twig' %}


{% block SiteTitle %}Editar Gasto #{{Repository.Id}}{% endblock %}

{% block PageTitle %}Editar Gasto #{{Repository.Id}}{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_Cost_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_Cost_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Gasto
	</a>
{% endblock %}

{% block PageContent %}

	<form action="{{ path('wamclient_Cost_Edit', {id: Repository.Id}) }}" method="post" {{ form_enctype(form) }} novalidate>
		<div class="col-md-4">
			<div class="alert alert-warning" style="text-align:center;border: 1px solid #ddd;">
				<span class="glyphicon glyphicon-user"></span> {{ClientUser.Username}} |  
				<span class="glyphicon glyphicon-calendar"></span> {{ Repository.CreatedAt|date('M d, Y -  H:i:s') }}
			</div>

				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="warning">
							<td><span class="Required" title="Requerido"><strong>Fecha</strong></span></td>
							<td>{{ form_widget(form.cost_date) }} </td>
						</tr>
						<tr class="warning">
							<td><span class="Required" title="Requerido"><strong>Proveedor</strong></span></td>
							<td>{{form_widget(form.provider)}}</td>
						</tr>
						<tr>
							<th colspan="2"></th>
						</tr>
						</tr>
						<tr class="warning">
							<td><strong>Subtotal</strong></td>
							<td style="text-align:right">{{form_widget(form.subtotal)}}</td>
						</tr>
						<tr class="warning">
							<td><strong>IVA 12%</strong></td>
							<td style="text-align:right">{{form_widget(form.iva)}}</td>
						</tr>
						<tr class="warning">
							<td><strong>Total</strong></td>
							<td style="text-align:right">
								<span style="font-size:25px; ">{{form_widget(form.total)}}</span>
							</td>
						</tr>
						<tr class="warning" style="display:none;">
							<td></td>
							<td>{{form_widget(form.locked)}}</td>
						</tr>
					</table>
				</div>
				
				<div class="SubmitBtn" style="text-align:center;">
					<button class="btn btn-primary btn-sm" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Editar Gasto</button>
					<span class="btn btn-warning BtnLock btn-sm"><span class="glyphicon glyphicon-lock"></span> Realizar Pago</span>
					<span class="btn btn-danger BtnCancel btn-sm"  data-id="{{Repository.Id}}"><span class="glyphicon glyphicon-remove"></span> Anular Gasto</span>
				</div>
		</div>
	
		<div class="col-md-8">
				
			{% if Repository.Locked == 1 %}	
				<div class="alert alert-info">Este gasto todavia no ha sido cancelado por el cliente.</div>
			{% elseif Repository.Locked == 2 %}
				<div class="alert alert-info">Este gasto ya fue pagado por el cliente.</div>
			{% endif %}
			
			<div class="table-responsive" >
				{{ form_widget(form.description) }}
			</div>
			
			{{ form_rest(form) }}
				
		</div>
	</form>
	
	<script>
		
		$(document).ready(function() {
		
			$( '.datepicker' ).datepicker({
				dateFormat: 'M dd, yy',
				firstDay: 1,
				maxDate: 0,
				dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ] 
			});
			
			$('.BtnLock').bind('click',function() {
				var r=confirm('¿Está seguro de haber realizado el pago de este gasto?');	
				if (r==true) 	{	
					$('#Cost_locked').val('2');
					$(this).closest('form').submit();
				}
			});
			
			$('.BtnCancel').bind('click',function() {
				var r=confirm('¿Está seguro de querer anular la factura?');	
				if (r==true) 	{	window.location.replace('{{path('wamclient_Cost_Cancel') }}?id='+$(this).data('id'));	}
			});
			
			
		});

	</script>
	
	<style>
		#Cost_subtotal{width:85%;}
		#Cost_iva{width:85%;}
		#Cost_total{width:85%;}
		.SubmitBtn .btn{margin:5px;}
	</style>
{% endblock %}