{% extends '::WamclientAdmin.html.twig' %}

{% block SiteTitle %}Listado de Gastos{% endblock %}

{% block PageTitle %}Listado de Gastos{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_Cost_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Gasto
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-9">
		{% if Repository != null %}
		
			<div class="table-responsive">
			<table class="table table-bordered table-condensed table-hover">
			
				<thead>
					<tr>
						<th><a href="{{ path('global_orderby', { 'NameSession': CostSession, 'Row': 'provider' }) }}">Proveedor</a></th>
						<th><a href="{{ path('global_orderby', { 'NameSession': CostSession, 'Row': 'cost_date' }) }}">Fecha</a></th>
						<th style="text-align:center;"><a href="{{ path('global_orderby', { 'NameSession': CostSession, 'Row': 'subtotal' }) }}">Subtotal</a></th>
						<th style="text-align:center;"><a href="{{ path('global_orderby', { 'NameSession': CostSession, 'Row': 'iva' }) }}">IVA</a></th>
						<th style="text-align:center;"><a href="{{ path('global_orderby', { 'NameSession': CostSession, 'Row': 'total' }) }}">Total</a></th>
						<th style="text-align:center;"><a href="{{ path('global_orderby', { 'NameSession': CostSession, 'Row': 'canceled' }) }}">Estado</a></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for Item in Repository %}
						<tr title="Creado por: {{ ClientUsers[Item.WamUser] }}" class="{% if Item.Locked == 1 %}warning{% endif %} {% if Item.Canceled == 2 %}danger{% endif %}" >
							<td>
								{{ Item.Provider }}
							</td>
							<td>
								<span title="Creado: {{Item.CreatedAt|date('M d, Y - H:i:s')}}" style="cursor:pointer;">
									{{ Item.CostDate|date('M d, Y') }}
								</span>
							</td>			
							<td style="text-align:right;">$ {{ Item.Subtotal }}</td>		
							<td style="text-align:right;">$ {{ Item.Iva }}</td>		
							<td style="text-align:right;">$ {{ Item.Total }}</td>							
							<td style="text-align:center;">
								{% if Item.Canceled == 1 %}
									<span class="glyphicon glyphicon-ok" style="color:#00A700;" title="Vigente"></span>
								{% elseif Item.Canceled == 2 %}
									<span class="glyphicon glyphicon-remove"style="color:#830000;" title="Anulado"></span>
								{% endif %}
							</td>
							<td style="text-align:center;">
								{% if Item.Locked == 1 %}
									<a class="btn btn-warning btn-sm" href="{{ path('wamclient_Cost_Edit', { 'id': Item.Id }) }}" title="Editar" >
										<span class="glyphicon glyphicon-edit"></span>
									</a> 
								{% elseif Item.Locked == 2 %}	
									<a class="btn btn-info btn-sm" href="{{ path('wamclient_Cost_View', { 'id': Item.Id }) }}" title="Ver" >
										<span class="glyphicon glyphicon-search"></span>
									</a> 
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			{% include '::_pager.html.twig' with { ListPager: ListPager, ListUrl: path('wamclient_Cost_List') } %}
		{% else %}	
			No se han encontrado resultados para mostrar.
		{% endif %}
	</div>
	
	<div class="col-md-3">
		{% include '::_filter.html.twig' with  { FilterForm: FilterForm, FilterSession: FilterSession, FilterPath: 'wamclient_Cost_List' } %}
	</div>
	
	<script>
		
		$(document).ready(function() {
			$( '.datepicker' ).datepicker({
				dateFormat: 'yy-mm-dd',
				firstDay: 1,
				dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ] 
			});
		});

	</script>
{% endblock %}