{% extends '::WamclientAdmin.html.twig' %}

{% block SiteTitle %}Crear Gasto{% endblock %}

{% block PageTitle %}Crear Gasto{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_Cost_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_Cost_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Gasto
	</a>
{% endblock %}

{% block PageContent %}

	<form action="{{ path('wamclient_Cost_New') }}" method="post" {{ form_enctype(form) }} novalidate >
		<div class="col-md-4">
			
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="warning">
							<td><span class="Required" title="Requerido"><strong>Fecha</strong></span></td>
							<td>{{ form_widget(form.cost_date) }} </td>
						</tr>
						<tr class="warning">
							<td><span class="Required" title="Requerido"><strong>Proveedor</strong></span></td>
							<td>{{form_widget(form.provider)}}</td>
						</tr>
						<tr>
							<th colspan="2"></th>
						</tr>
						</tr>
						<tr class="warning">
							<td><strong>Subtotal</strong></td>
							<td style="text-align:right">{{form_widget(form.subtotal)}}</td>
						</tr>
						<tr class="warning">
							<td><strong>IVA 12%</strong></td>
							<td style="text-align:right">{{form_widget(form.iva)}}</td>
						</tr>
						<tr class="warning">
							<td><strong>Total</strong></td>
							<td style="text-align:right">
								<span style="font-size:25px; ">{{form_widget(form.total)}}</span>
							</td>
						</tr>
						<tr class="warning" style="display:none;">
							<td></td>
							<td>{{form_widget(form.locked)}}</td>
						</tr>
					</table>
				</div>
				<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
		</div>
	
	
		<div class="col-md-8">
			<div class="table-responsive" >
				{{ form_widget(form.description) }}
			</div>
			
			{{ form_rest(form) }}
		</div>
	
	</form>
	<script>
		
		$(document).ready(function() {
		
			$( '.datepicker' ).datepicker({
				dateFormat: 'M d, yy',
				firstDay: 1,
				maxDate: 0,
				dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]
			});
			$( ".datepicker" ).datepicker( "setDate", "{{ 'now'|date('M d, Y') }}" );
			
			
		});

	</script>
	
	<style>
		#Cost_subtotal{width:85%;}
		#Cost_iva{width:85%;}
		#Cost_total{width:85%;}
		.SubmitBtn .btn{margin:5px;}
	</style>

{% endblock %}