{% extends '::WamclientAdmin.html.twig' %}


{% block SiteTitle %}Ver Gasto{% endblock %}

{% block PageTitle %}Ver Gasto #{{Repository.Id}}{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_Cost_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_Cost_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-file"></span> Nuevo Gasto
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<div class="alert alert-warning" style="text-align:center;border: 1px solid #ddd;">
			<span class="glyphicon glyphicon-user"></span> {{ ClientUsers[Repository.WamUser] }} |  
			<span class="glyphicon glyphicon-calendar"></span> {{ Repository.CreatedAt|date('M d, Y -  H:i:s') }}
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr class="warning">
					<td><strong>Fecha</strong></td>
					<td>{{ Repository.CostDate|date('M d, Y') }}</td>
				</tr>
				<tr class="warning">
					<td><strong>Proveedor</strong></td>
					<td>
						{{ Repository.Provider }}
					</td>
				</tr>
				<tr>
					<th colspan="2"></th>
				</tr>
				<tr>
					<th colspan="2"></th>
				</tr>
				<tr class="warning">
					<td><strong>Subtotal</strong></td>
					<td style="text-align:right">$ {{  Repository.Subtotal|number_format(2, '.', ',') }}</td>
				</tr>
				<tr class="warning">
					<td><strong>IVA 12%</strong></td>
					<td style="text-align:right">$ {{  Repository.Iva|number_format(2, '.', ',') }}</td>
				</tr>
				<tr class="warning">
					<td><strong>Total</strong></td>
					<td style="text-align:right"><span style="font-size:25px; ">$ {{  Repository.Total|number_format(2, '.', ',') }}</span></td>
				</tr>
			</table>
		</div>
		
		{% if Repository.Canceled == 1  %}
		<div class="SubmitBtn" style="text-align:center;">
			<span class="btn btn-danger BtnCancel btn-sm" data-id="{{Repository.Id}}"><span class="glyphicon glyphicon-remove"></span> Anular Factura</span>
		</div>
		{% endif %}
	</div>
	
	
	<div class="col-md-8">
	
		{% if Repository.Canceled == 2 %}	
			<div class="alert alert-danger">Este gasto se encuentra anulado.</div>			
		{% else %}
			{% if Repository.Locked == 1 %}	
				<div class="alert alert-info">Este gasto todavia no ha sido cancelado por el cliente.</div>
			{% elseif Repository.Locked == 2 %}
				<div class="alert alert-info">Este gasto ya fue pagado por el cliente.</div>
			{% endif %}		
		{% endif %}
		
		
		<div class="table-responsive" >
			{{ Repository.Description|raw }}
		</div>
	</div>
	
	<style>
		.tab-content{padding: 15px;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;border-left: 1px solid #CCC;}	
		
		.PaymentHelper{text-align:center;}
		.PaymentHelper .TotalHelper, .PaymentHelper .PaidHelper{width:170px;margin:10px 10px 30px 10px;background:#F9FFF9;}
		.PaymentHelper .TotalHelper:hover, .PaymentHelper .PaidHelper:hover{background:#F1FFF0;}
		.PaymentHelper .PaidInput{width: 67px;}
	</style>
	
	<script>
		
		$(document).ready(function() {
		
			$('.TotalHelper').click(function (e) {
				e.preventDefault();
				var r=confirm('¿Está seguro de realizar el pago total de $ '+$(this).data('total')+'?');	
				if (r==true) 	{
					$('#Payment_income').val($(this).data('total'));
					$('.TotalHelper, .PaidHelper').attr('disabled', 'disabled');
					$('.PaymentInForm').submit();
				}
			});
			
			$('.PaymentSubmit').click(function (e) {
				$('#Payment_income').val('');
				e.preventDefault();
				var r=confirm('¿Está seguro de realizar un abono de $ '+$('.PaidInput').val()+'?');	
				if (r==true) 	{
					$('#Payment_income').val($('.PaidInput').val());
					$('.TotalHelper, .PaidHelper').attr('disabled', 'disabled');
					$('.PaymentInForm').submit();
				}
			});
			
			$('#CostTabs a').click(function (e) {
				e.preventDefault()
				$(this).tab('show')
			});
			
			$('.BtnCancel').bind('click',function() {
				var r=confirm('¿Está seguro de querer anular la factura?');	
				if (r==true) 	{	window.location.replace('{{path('wamclient_Cost_Cancel') }}?id='+$(this).data('id'));	}
			});
			
		});

	</script>
	
{% endblock %}