{% extends '::WamclientAdmin.html.twig' %}

{% block SiteTitle %}Crear Servicio{% endblock %}

{% block PageTitle %}Crear Servicio{% endblock %}

{% block PageAction %}
	<a href="{{ path('wamclient_Service_List') }}" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-list-alt"></span> Ir al Listado
	</a> 
	<a href="{{ path('wamclient_Service_New') }}" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-plus"></span> Nuevo Servicio
	</a>
{% endblock %}

{% block PageContent %}

	<div class="col-md-4">
		<form action="{{ path('wamclient_Service_New') }}" method="post" {{ form_enctype(form) }} novalidate >
		
			<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Nombre</th>
					<td>{{form_widget(form.name)}}</td>
				</tr>
				<tr>
					<th>Precio</th>
					<td>{{form_widget(form.price)}}</td>
				</tr>
				<tr>
					<th>Estado</th>
					<td>{{form_widget(form.status)}}</td>
				</tr>
			</table>
			</div>
			<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open"></span> Guardar</button>
			{{ form_rest(form) }}
		</form>
	</div>
	

{% endblock %}